/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/dinpro-bold-webfont.eot');
  src: url('../fonts/dinpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/dinpro-bold-webfont.woff') format('woff'), url('../fonts/dinpro-bold-webfont.ttf') format('truetype'), url('../fonts/dinpro-bold-webfont.svg#DINPro') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/dinpro-regular-webfont.eot');
  src: url('../fonts/dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/dinpro-regular-webfont.woff') format('woff'), url('../fonts/dinpro-regular-webfont.ttf') format('truetype'), url('../fonts/dinpro-regular-webfont.svg#DINPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/dinpro-medium-webfont.eot');
  src: url('../fonts/dinpro-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/dinpro-medium-webfont.woff') format('woff'), url('../fonts/dinpro-medium-webfont.ttf') format('truetype'), url('../fonts/dinpro-medium-webfont.svg#DINPro') format('svg');
  font-weight: 500;
  font-style: normal;
}

/* End of Eric Meyer's CSS Reset */
/*right_menu*/
input.go {
    display:none;
}




.glyphicon.flash:before, .nonglyphicon.flash:before {
  content: "\e162";
}

.head, .foot {
  width: 100%;
  border-bottom: solid 1px #e3ddd1;
  background: #FFF url(data:image/gif;base64,R0lGODlhAQAfAIAAAPHu6AAAACH/C1hNUCBEYXRhWE1QPD94cGFja…saGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAAAAAAAsAAAAAAEAHwAAAgWEj6l7BQA7) repeat-x bottom;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}


    ul.nav .glyphicon.flash {
      top: 0;
    }

    ul.nav .glyphicon.flash:before {
      font: normal 14px/10px 'Glyphicons Halflings' !important;
    }


/* Header

-----------------------------------------------------------------------------*/
.header {
  height: 165px;
  position: relative;
}