.footer .header ul.nav {
  top: 0px;
  height: 31px;
}
.footer .header ul.nav li a {
  height: 31px;
}
.footer .header ul {
  padding-left: 0px;
}
.footer .header {
  height: 31px;
}
.footer {
  background: #303030;
  min-width: 1140px; }
  .footer a {
    display: block; }
  .footer .content_f {
    width: 1140px;
    height: 285px;
    margin: auto;
    position: relative; }
    .footer .content:after {
      clear: both; }
    .footer .content_f .counters {
        position: absolute;
        right: 0px;
        display: table;
        top: 6px;
      }
      .footer .content_f .counters .metrics {
        display: inline-block;
        width: 185px;
        height: 130px;
        padding-top: 0px; }
        .footer .adult {
          background: url(../img/18.png) no-repeat 0px;
          width: 88px;
          height: 31px; }
        .footer .content_f .counters .metrics .ya_metrics {
          width: 88px;
          height: 31px;
          float: left;
          padding-top: 10px; }
        .footer .content_f .counters .metrics .li {
          width: 88px;
          height: 120px; }
    .footer .content_f .content__line {
      height: 150px; }
    .footer .content_f .infoline {
      height: 120px;
      padding-top: 15px;
      position:relative;
      border-top: 1px solid #3e3e3e; }

      .footer .content_f .infoline .nav__ul {
        padding-top: 0px;
        margin-right: 10px; }
      .footer .content_f .infoline .infoblock {
        float: left;
        width: 250px;
        margin-right: 170px; }
        .footer .content_f .infoline .infoblock a {
          background: url(../img/logo.png) no-repeat 0px;
          width: 165px; }
        .footer .content_f .infoline .infoblock p {
          color: white;
          font-size: 13px; }
  .footer .footer__down {
    background: #202020;
    height: 60px; }
  .footer .socialblock {
    width: 420px;
    height: 150px;
    float: left; }
    .footer .socialblock p {
      font-family: sans-serif;
      font-size: 13px;
      color: white;
      margin-top: 30px;
      margin-bottom: 10px; }
  .footer .nav__block {
    background: #383838;
    display: inline-block;
    height: 150px;
    width: 720px; }
    .footer .nav__block .nav__ul:last-child {
      margin-left: 0px; }
  .footer .nav__ul {
    float: left; }
    .footer .nav__ul ul {
      margin-top: 14%; }
    .footer .infoline .nav__ul ul {
      margin-top: 8%; }
    .footer .nav__ul li {
      font-size: 13px; }
    .footer .nav__ul:after {
      clear: both; }
  .footer .icons {
    width: 420px;
    height: 60px;
    float: left;
    cursor: pointer; }

    .footer .infoblock .icons {
      height: 58px;
    }

    .footer .icons:after {
      clear: both; }
    .footer .icons a {
      width: 60px;
      height: 60px;
      display: inline-block;
      margin-right: 15px; }
      .footer .icons a:last-child {
        margin-right: 40px; }
  .footer .fb {
    background: url(../img/sprites.png) no-repeat 0px -60px; }
    .footer .fb:hover {
      background: url(../img/sprites.png) no-repeat 0px 0px; }
  .footer .ok {
    background: url(../img/sprites.png) no-repeat -80px -60px; }
    .footer .ok:hover {
      background: url(../img/sprites.png) no-repeat -80px 0px; }
  .footer .tw {
    background: url(../img/sprites.png) no-repeat -160px -60px; }
    .footer .tw:hover {
      background: url(../img/sprites.png) no-repeat -160px 0px; }
  .footer .vk {
    background: url(../img/sprites.png) no-repeat -240px -60px; }
    .footer .vk:hover {
      background: url(../img/sprites.png) no-repeat -240px 0px; }
  .footer .insta {
    background: url(../img/sprites.png) no-repeat -320px -60px; }
    .footer .insta:hover {
      background: url(../img/sprites.png) no-repeat -320px 0px; }
  .footer ul {
    line-height: 24px;
    list-style-type: square;
    padding-left: 75px;
    color: white; }
  .footer li a {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: white; 
  }
  .footer .info_down {
    display: inline-block;
    width: inherit; }
    .footer .info_down p {
      color: #7c7c7c;
      font-size: 14px;
      font-family: Arial, sans-serif;
      padding-top: 12px;
      float: left;
      width: 50%;
      margin: auto; }
    .footer .info_down .right a:last-child {
      float: right;
      margin-right: 24px; }
  .footer .right {
    float: right;
    width: 50%;
    padding-top: 22px; }
    .footer .right a {
      color: #ffffff;
      font-family: sans-serif;
      font-size: 13px;
      float: right; }



@media screen and (max-width: 1280px) {
.footer {
  min-width: 980px; }
  
  .footer .content_f {
    width: 980px;
  }

  .footer .socialblock {
    width: 410px;
  }
  
  .footer ul {
    padding-left: 45px;
  }
  .footer .nav__block {
    width: 570px; }

   .footer .content_f .infoline .infoblock {
        margin-right: 160px; }
}
