#object-place{
	padding: 30px 0 0 0;
}
#object-place .data-place {
	overflow:hidden;
	margin: 0 0 40px 0;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
#object-place .title-char-cost {
	overflow: hidden;	
}
#object-place .title-char{
	width: 480px;
	float:left;
}
#object-place .char{
	font: bold 14px/14px DINPro, Arial;
	font-size: 18px;
}
#object-place .char sup{
	vertical-align: 5px;
	font-size: 12px;
}
#object-place .title-char-cost .cost{
	float: left;
}
#object-place .title-char-cost .cost div{
	font: bold 14px/14px DINPro, Arial;
	font-size: 30px;
	font-weight: bold;
	margin: 16px 0 8px 0;
}
#object-place .title-char-cost .cost span{
	font-size:12px;
	color:#B0B0B0;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
#object-place .image-place {
	width: 480px;
	float: left;
}

#object-place .image-place .dates {
	font-size:11px;
	color:#D9D9D9;
	margin: 25px 0 10px 0;
}
#object-place .image-place .dates span{
	display:inline-block;
	margin: 0 33px 0 0;
}
#object-place .image-place .dates span b{
	font-weight:bold;
	color:#999999;
}
#object-place .image-place ul {
	margin: 8px 0 0 0;
}
#object-place .image-place ul li{
	display:inline-block;
	width:64px;
	height:64px;
	background:#F1EEE8;
}
#object-place .image-place ul li a{
	display:block;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
#object-place .info-place {
	float: right;
	width: 290px;
	font-size: 12px;
	margin: 0 0 0 10px;
}
#object-place .info-place .rieltor {
	overflow:hidden;
	margin: 50px 0 35px 0;
}
#object-place .info-place .rieltor a.people{
	width: 140px;
	padding: 10px 0 0 0;
	display: block;
	float: left;
	text-decoration: none; 
}
#object-place .info-place .rieltor a.people img{
	float:left;
	margin: -10px 10px 0 0;
}
#object-place .info-place .rieltor a.call{
	float: right;
	margin: 10px 40px 0 0;
	text-decoration: none; 
    border-bottom: 1px dashed #000080; 
}
#object-place .info-place .adress {
	overflow:hidden;
	margin: 0 0 25px 0;
}

#object-place .info-place .adress span{
	display:block;
	float:left;
	font-size:14px;
	background:#F1EEE8;
	padding: 5px;
	max-width: 170px;
}
#object-place .info-place .adress a{
	display: block;
	float: right;
	background: url('../images/onmap.png') no-repeat 0px 5px;
	padding: 0 0 0 15px;
	margin: 0 35px 0 0;
	text-decoration: none;
	border-bottom: 1px dashed #000080;
}
#object-place .info-place table{
	width: 100%;
	line-height: 23px;
	margin: 0 0 30px 0;
	color: #262626;
}
#object-place .info-place table span{
	
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
#object-place .hot-place {
	
}
#object-place .hot-place h2{
	font: bold 24px/24px DINPro, Arial;
	font-size:24px;
	color:#4C4C4C;
}
#object-place .hot-place ul{
	width: 810px;
	margin: 5px 30px 0 0;
}
#object-place .hot-place ul li{
	display:inline-block;
	margin: 0 30px 0 0;
	overflow: hidden;
}
#object-place .hot-place ul li span{
	display:block;
	margin: 0 0 13px 0;
}
#object-place .hot-place ul li a {
	display:block;
	font: bold 18px/18px DINPro, Arial;
	font-size:18px;
	text-decoration:none;
	color:#0A5A9C;
	margin: 15px 0 0 0;
	
}
#object-place .hot-place ul li .char {
	font: 14px/14px DINPro, Arial;
	font-size:14px;
	color:#7C7C7C;
}
#object-place .hot-place ul li .adr {
	font: 11px/11px DINPro, Arial;
	font-size:11px;
	color:#7C7C7C;
}
#object-place .hot-place ul li .cost {
	font: bold 12px/12px DINPro, Arial;
	font-size:12px;
	color:#4C4C4C;
}
#object-place .hot-place ul li .cost span{
	font: bold 24px/24px DINPro, Arial;
	font-size:24px;
	margin: 0;
}
#object-place .hot-place .hot-img {
	background: url('../images/hot.png');
	margin: 0 0 0 197px;
	position: absolute;
	width: 38px;
	height: 38px;
}
