/* Footer
-----------------------------------------------------------------------------*/
.foot {
  background-color: #424242;
  background-position: top;
  border: none;
}
.footer {
  font-size: 12px;
  background:  url('../images/footer.jpg') #424242 bottom right no-repeat;
  position: relative;
  height: 191px;
  /*  -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3); */
}

.footer .plus16 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 51px;
  height: 51px;
  background: url('../images/16+.png');
}

.footer .header ul.nav {
  top: 0px;
  height: 31px;
}
.footer .header ul.nav li a {
  height: 31px;
}
.footer .menu {
  position: absolute;
  display: block;
}
.footer .logo {
  position: absolute;
  top: 51px;
  left: 0px;
  display: block;
  color: #FFFFFF;
  background: url('../images/logo2.png') top left no-repeat;
  height: 25px;
  width: 135px;
  padding-top: 37px;
}
.footer ul.menu {
  list-style-type:square;
  top: 50px;
  color: #FFFFFF;
}
.footer ul.menu a {
  color: #FFFFFF;
  text-decoration: underline;
}
.footer ul.menu li {
  margin-bottom: 9px;
}

.footer ul.menu.l {
  left: 253px;
}

.footer ul.menu.r {
  left: 551px;
}

.footer a.press-online 
{
  left: 950px; 
  top: 27px;
  right: 0px;
  bottom: 0px;
  display: block;
  position: absolute;
  text-indent: -9999px;
}

.footer div.menu {
  left: 35px;
  bottom: 0px;
  width: 950px;
  height: 51px;
  display: table-cell;
  vertical-align: middle;
}
.footer div.menu ul {
  position: absolute;
  left: 40px;
  top: 11px;
  height: 30px;
  max-height: 30px;
}

.footer div.menu ul li {
  padding-right: 13px;
  float: left;
  height: 30px;
  max-height: 30px;
  position: relative;
}

.footer div.menu span {
  position: absolute;
  left: 275px;
  top: 17px;
  color: #bdbdbd;
  display: block;
  right: 0px;
}


.footer div.menu span a {
  color: #FFFFFF;
  border-bottom: dotted 1px #FFFFFF;
  text-decoration: none;
  float: right;
  display: inline-block;
  padding-bottom: 1px;
}

.footer ul.menu a:hover {
  text-decoration: none;
}