#search-place {

}
#search-place h1{
	font: bold 30px/30px DINPro, Arial;
	font-size:30px;
	width: 300px;
	float: left;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.breadcrumbs ul{
	margin: 0 0 10px 0;
	padding: 10px 0 0 0;
}
.breadcrumbs ul li{
	text-transform:uppercase;
	display: inline-block;
	font: normal 14px/14px DINPro, Arial;
	font-size:14px;
}
.breadcrumbs ul li a{
	background: url('../images/bread.jpg') no-repeat right;
	display:block;
	text-decoration:none;
	padding: 0 15px 0 0;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
#search-place .search-place{
	width:100%;
	height:285px;
	background:#F1EEE8;
	border:1px solid #E3DDD1;
	overflow: hidden;
}
.search-place input,
.search-place label {
	display:block;
}
.search-place .label {
	font-weight: bold;
	font-size: 17px;
	color: black;
	margin: 20px 20px 10px 20px;
}
.search-place .all-check-place label {
	margin: 0 0 5px 10px;
	font-size:12px;
}
.search-place .s-pram-1{
	margin: 0 0 10px 10px;
	overflow: hidden;
	width: 200px;
	float: left;
}
.search-place .s-pram-2{
	overflow: hidden;
	float: left;
	width: 200px;
}
.search-place .s-pram-3{
	overflow: hidden;
	width: 100%;
	margin: 0 0 10px 10px;
}
.search-place .s-pram-4{
	overflow: hidden;
	margin: 0 0 15px 10px;
}
.search-place .all-check-place{
	width: 62%;
	float:left;
}
.search-place .all-check-place .check-place{
	cursor: pointer;
	float: left;
	background: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #DCDCDC;
	margin: 0 0 0 10px;
}
.search-place .check-place div{
	overflow:hidden;
}
.search-place .check-place input[type=checkbox]{
	display:none;
}
.search-place .check-place.checked {
	background: #dcdcdc;
	border: 1px solid #999999;
}
.search-place .clean-form {
	margin: 0 0 0 20px;
}
.search-place .clean-form input{
	padding: 7px 30px;
	border:1px solid #0A5A9C;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
	border-radius: 5px;
	cursor:pointer;

	background: #0B5B9D; /* for non-css3 browsers */
	background: linear-gradient(to bottom, #0B5B9D, #2077BE); /* css3*/
	background: -moz-linear-gradient(top,  #0B5B9D,  #2077BE); /* для firefox 3.6+ */
	background: -o-linear-gradient(bottom,  #0B5B9D,  #2077BE); /* для Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0B5B9D', endColorstr='#2077BE'); /* для IE6-9 */
	background: -ms-linear-gradient(top, #0B5B9D, #2077BE); /* для IE10+ */
}
.search-place .ui-place {
	width: 250px;
	float:left;
}
.search-place .ui-place .s-pram-5,
.search-place .ui-place .s-pram-6,
.search-place .ui-place .s-pram-7,
.search-place .ui-place .s-pram-8{
	overflow:hidden;
}
.taxonomy {
	width: 100%;
}
.taxonomy ul.taxonomy-place {
	padding: 10px 0px;
}
.taxonomy ul.taxonomy-place li {
	display: block;
	width: 33%;
	float: left;
	padding:6px 0px;	
}
.taxonomy ul.taxonomy-place li a {
	font: bold 14px/14px  Arial, sans-serif;
}
.search-place .ovf {
	padding: 10px;
	overflow: hidden;
}
.ui-slider {
	border: 1px solid #DCDCDC;
	background:#FFFFFF;
	height: 6px;
}
.ui-slider-range {
	background:url('../images/uiline.png') repeat-x;
	height: 6px !important;
}
.ui-state-default {
	background: url('../images/uislide.png') no-repeat -1px -2px !important;
	border: 1px solid #999999 !important;
	border-radius: 10px;
	height: 15px !important;
	width: 15px !important;
	top: -5px !important;
	cursor:pointer !important;
}
.ui-state-focus {
	border: 0 !important;
}
.ui-place .s-pram-5 {
	width: 100px;
	float: left;
}
.ui-place .s-pram-6 {
	width: 100px;
	float: right;
	margin: 0 0 0 50px;
}
.ui-place .s-pram-7 {
	width: 100px;
	float: left;
	margin: 20px 0 0 0;
}
.ui-place .s-pram-8 {
	width: 100px;
	float: right;
	margin: 20px 0 0 50px;
}
.ui-place .s-pram-8 .check-place.s {
	float: right;
}
.ui-place .s-pram-5 input,
.ui-place .s-pram-6 input,
.ui-place .s-pram-7 input,
.ui-place .s-pram-8 input{
	width: 70px;
	height: 22px;
	border-radius: 5px;
	border: 1px solid #999999;
	float: left;
	margin: 0 3px 0 0;
}
.ui-place .s-pram-5 .check-place.cost,
.ui-place .s-pram-6 .check-place.cost {
	width: 100px;
	height: 26px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 22px;
	border-radius: 5px;
	background: #8DA4AF; /* for non-css3 browsers */
	background: linear-gradient(to bottom, #8DA4AF, #B5C7D1); /* css3*/
	background: -moz-linear-gradient(top,  #8DA4AF,  #B5C7D1); /* для firefox 3.6+ */
	background: -o-linear-gradient(bottom,  #8DA4AF,  #B5C7D1); /* для Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8DA4AF', endColorstr='#B5C7D1'); /* для IE6-9 */
	background: -ms-linear-gradient(top, #8DA4AF, #B5C7D1); /* для IE10+ */


}
.ui-place .min-max {
	overflow:hidden;
}
.ui-place .min-val,
.ui-place .max-val{
	font-size: 12px;
}
.ui-place .min-val {
	float: left;
}
.ui-place .max-val {
	float: right;
}
.ui-place label {
	margin:0 0 5px 0;
}
.ui-place .parss {
	overflow:hidden;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.serch-result {

}
.serch-result-place {
	overflow: hidden;
	padding: 15px 0 20px 0;
	border-bottom: 1px solid #DCDCDC;
}
.serch-result-place .search-count {
	float: left;
	font-size: 12px;
	color: #ADADAD;
	margin: 20px 0 0 0;
}
.serch-result-place .sort-place {
	float: right;
	margin: 16px 0 0 0;
	font-size: 12px;
}
.serch-result-place .sort-place select {
	height: 22px;
	border-radius: 5px;
	background: #FFFFFF; /* for non-css3 browsers */
	background: linear-gradient(to bottom, #FFFFFF, #CDCDCD); /* css3*/
	background: -moz-linear-gradient(top,  #FFFFFF,  #CDCDCD); /* для firefox 3.6+ */
	background: -o-linear-gradient(bottom,  #FFFFFF,  #CDCDCD); /* для Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CDCDCD'); /* для IE6-9 */
	background: -ms-linear-gradient(top, #FFFFFF, #CDCDCD); /* для IE10+ */
}
.serch-result ul{

}
.serch-result ul li{
	overflow: hidden;
	border-bottom: 1px solid #DCDCDC;
	font-size: 12px;
}
.serch-result .o-info{
	overflow: hidden;
	padding: 25px 0;
	width:786px;
}
.serch-result .o-info .info-1,
.serch-result .o-info .info-2,
.serch-result .o-info .info-3,
.serch-result .o-info .info-4,
.serch-result .o-info .info-5{
	float:left;
}
.serch-result .o-info .info-1 {
	width: 160px;
	padding: 0 10px 0 20px;
}
.serch-result .o-info .info-1 a{
	display:block;
	font:bold 18px/18px DINPro, Arial;
	font-size: 18px;
	margin: 0 0 10px 0;
}
.serch-result .o-info .info-1 .char{
	font: 12px/12px DINPro, Arial;
	font-size: 12px;
}
.serch-result .o-info .info-1 .char sup{
	vertical-align: 5px;
	font-size: 10px;
}
.serch-result .o-info .info-2 {
	width: 180px;
	padding: 0 10px;
}
.serch-result .o-info .info-3 {
	width: 260px;
	padding: 0 20px;
}
.serch-result .o-info .info-4 {
	width: 75px;
	padding: 0 0 0 20px;
}
.serch-result .o-info .info-5 {
	width: 575px;
	padding: 0 0 0 0px;
}
.serch-result .o-info .info-4 .cost {
	font: bold 12px/12px DINPro, Arial;
	font-size:12px;
	color:#4C4C4C;
}
.serch-result .o-info .info-4 .cost span{
	font: bold 24px/24px DINPro, Arial;
	font-size:24px;
	margin: 0;
	display: block;
}
.serch-result .m-info{
	height: 110px;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.pager-place {
	overflow:hidden;
}
.pager-min ul{
	margin:10px 0 0 0;
	float:left;
}
.pager-page ul li,
.pager-min ul li{
	text-transform:uppercase;
	display: inline-block;
	font: normal 14px/14px DINPro, Arial;
	font-size:14px;
}
.pager-page ul li a,
.pager-min ul li a{
	display:block;
	text-decoration:none;
}
.pager-page ul{
	margin:10px 0 0 0;
	float:right;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
.buttom-pager {
	background:url('../images/bp.png') repeat-x bottom;
	margin: 0 auto 20px auto;
	width:480px;
}
.buttom-pager ul{
	display: block;
	margin: 22px auto 0 auto;
	padding: 0 0 15px 0;
	width: 440px;
}
.buttom-pager ul li{
	display:inline-block;
	text-align:center;
	width:30px;
	margin:0 5px;
}
.buttom-pager ul li a{
	display:block;
	text-decoration:none;
}
.buttom-pager ul li.active{
	background-color:#4C4C4C;
	color:#fff;
}
.buttom-pager ul li.active:before{
	content:' ';
	display:block;
	background:url('../images/bps.png') bottom;
	margin: 28px 0 0 7px;
	position: absolute;
	height: 36px;
	width: 18px;
}
.buttom-pager p{
	float:right;
	font-size:12px;
}
#object-place .image-place .dates span{
	 margin-right:25px;
}
.serch-result .o-info .info-4 .cost, #object-place .title-char-cost .cost div, #object-place .hot-place ul li .cost{
	color:#800000;
}

#object-place .image-place .dates span{
	 margin-right:25px;
}
.serch-result .o-info .info-4 .cost, #object-place .title-char-cost .cost div, #object-place .hot-place ul li .cost{
	color:#800000;
}
.search-place .s-pram-1, .search-place .s-pram-3{
	margin-bottom:0;
}
.search-place .s-pram-4{
	margin-bottom:5px;
}
.search-place .all-check-place .check-place{
	margin-bottom:10px;
}
#search-place .search-place{
	height:auto;
	padding-bottom:15px;
}