.b-weather_day {
  display: table-cell;
  height: 100px;
  width: 85px;
  font-family: "DINPro";
  float: left;
  margin-right: 15px; }
  .b-weather_day_date {
    background-color: #f1eee8;
    text-align: center;
    width: inherit;
    height: 80px;
    display: table-cell;
    vertical-align: middle;
    color: #8d8d8d; }
    .b-weather_day_date h2 {
      font-size: 42px;
      font-weight: bold; }
    .b-weather_day_datep {
      font-size: 18px; }
    .b-weather_day_date-today {
      color: #424242; }
  .b-weather_day_name {
    text-align: center;
    background-color: #424242;
    color: white;
    height: 20px; }
    .b-weather_day_name-weekend {
      background-color: #dd4b39; }

.b-forecast {
  width: 785px;
  font-family: "DINPro";
  float: left; }
  .b-forecast_head {
    color: #e3ddd1; }
    .b-forecast_head-list {
      display: table-row;
      font-size: 12px;
      font-style: italic; }
      .b-forecast_head-list li {
        display: inline-table; }
        .b-forecast_head-list li:nth-child(1) {
          width: 190px; }
        .b-forecast_head-list li:nth-child(2) {
          width: 250px; }
        .b-forecast_head-list li:nth-child(3) {
          width: 107px; }
        .b-forecast_head-list li:nth-child(4) {
          width: 82px; }
        .b-forecast_head-list li:nth-child(5) {
          width: 70px;
          margin-left: 10px; }
  .b-forecast_item {
    margin-bottom: 20px;
    border-top: 1px #e3ddd1 solid;
    padding-top: 10px;
    float: left; }

[class*=weather__icon__large] {
  width: 45px;
  height: 45px; }

.weather-table {
  border-collapse: collapse;
  float: left;
  width: 685px; }
  .weather-table_row {
    min-height: 50px;
    border-bottom: 1px #e3ddd1 dotted;
    display: table-row;
    width: 685px;
    float: left; }
    .weather-table_row:last-child {
      border-bottom: none; }
    .weather-table_row-day {
      background-image: linear-gradient(90deg, white 0%, #fff9ed 100%);
      background-attachment: fixed; }
    .weather-table_row-night {
      background-image: linear-gradient(90deg, white 0%, #e7f7fd 100%);
      background-attachment: fixed; }
  .weather-table_body--cell {
    vertical-align: middle;
    display: table-cell;
    padding-top: 2px; }
    .weather-table_body--cell:nth-child(1) {
      width: 90px; }
    .weather-table_body--cell:nth-child(2) {
      padding-right: 10px; }
    .weather-table_body--cell:nth-child(3) {
      width: 190px;
      padding-right: 5px; }
    .weather-table_body--cell:nth-child(4) {
      width: 105px; }
    .weather-table_body--cell:nth-child(5) {
      width: 60px;
      text-align: center;
      padding-right: 20px; }
    .weather-table_body--cell:nth-child(6) {
      width: 60px;
      text-align: center;
      padding-right: 35px; }
    .weather-table_body--cell:nth-child(7) {
      padding-right: 10px; }
    .weather-table_body--cell_daypart {
      font-size: 30px;
      color: #8d8d8d;
      font-weight: bold; }
      .weather-table_body--cell_daypart-mark {
        color: #424242;
        text-decoration: underline; }
  .weather-table_description {
    font-size: 14px;
    color: #8d8d8d; }
  .weather-table_description-first {
    font-size: 14px;
    color: #424242 ; }
  .weather-table_temp {
    font-size: 30px;
    color: #424242;
    font-weight: bold; }
  .weather-table_pressure-first {
    font-size: 14px;
    color: #424242; }
  .weather-table_pressure {
    font-size: 14px;
    color: #8d8d8d; }
  .weather-table_wind-first {
    font-size: 14px;
    color: #424242; }
  .weather-table_wind {
    font-size: 14px;
    color: #8d8d8d; }
  .weather-table_wet-first {
    font-size: 24px;
    color: #424242; }
  .weather-table_wet {
    font-size: 24px;
    color: #8d8d8d; }

.wrapper-row {
  padding: 10px 0 10px 0;
  border-bottom: 1px #e3ddd1 dotted;
  float: left; }
  .wrapper-row:first-child {
    padding-top: 0; }
  .wrapper-row:last-child {
    border-bottom: none; }


@media screen and (max-width: 1280px) {

  .b-forecast {
    width: 685px;
  }
  .weather-table {
    width: 575px;
  }
  .weather-table_row {
    width: 575px;
  }
  .weather-table_body--cell_daypart {
    font-size: 28px;
  }
  .weather-table_body--cell:nth-child(1) {
    width: 80px;
  }
  .weather-table_body--cell:nth-child(3) {
    width: 165px;
  }
  .weather-table_body--cell:nth-child(5) {
    padding: 0;
  }
  .weather-table_body--cell:nth-child(4) {
  width: 90px;
  }
  .weather-table_body--cell:nth-child(6) {
    padding: 0;
    margin-right: 5px;
  }
}