.realcommenter, 
#realcommenter, 
.adm-submenu-item-name-link .realcommenter, 
.adm-submenu-item-name-link #realcommenter { 
	background-image: url("/bitrix/images/alexeygfi.realcommenter/images/realcommenter.png") !important; background-position: center center !important; 
}

.forum_parser, 
#forum_parser, 
.adm-submenu-item-name-link .forum_parser, 
.adm-submenu-item-name-link #forum_parser { 
	background-image: url("/bitrix/images/alexeygfi.realcommenter/images/forum_parser.png") !important; background-position: center center !important; 
}

.realcommenter_unlist_link, 
#realcommenter_unlist_link, 
.adm-submenu-item-name-link .realcommenter_unlist_link, 
.adm-submenu-item-name-link #realcommenter_unlist_link { 
	background-image: url("/bitrix/images/alexeygfi.realcommenter/images/realcommenter_unlist.png") !important; background-position: center center !important; 
}

.realcommenter_su_link, 
#realcommenter_su_link, 
.adm-submenu-item-name-link .realcommenter_su_link, 
.adm-submenu-item-name-link #realcommenter_su_link { 
	background-image: url("/bitrix/images/alexeygfi.realcommenter/images/realcommenter_su.png") !important; background-position: center center !important; 
}

.realcommenter_iblock_list_link, 
#realcommenter_iblock_list_link, 
.adm-submenu-item-name-link .realcommenter_iblock_list_link, 
.adm-submenu-item-name-link #realcommenter_iblock_list_link { 
	background-image: url("/bitrix/images/alexeygfi.realcommenter/images/realcommenter_iblock_list.png") !important; background-position: center center !important; 
}

.realcommenter_signatures_formula, 
#realcommenter_signatures_formula, 
.adm-submenu-item-name-link .realcommenter_signatures_formula, 
.adm-submenu-item-name-link #realcommenter_signatures_formula { 
	background-image: url("/bitrix/images/alexeygfi.realcommenter/images/realcommenter_signature_formula.png") !important; background-position: center center !important; 
}

.realcommenter_load_ballancing, 
#realcommenter_load_ballancing, 
.adm-submenu-item-name-link .realcommenter_load_ballancing, 
.adm-submenu-item-name-link #realcommenter_load_ballancing { 
	background-image: url("/bitrix/images/alexeygfi.realcommenter/images/realcommenter_load_ballancing.png") !important; background-position: center center !important; 
}