.tape_tree { margin-right:0; position: relative; margin-bottom: 20px; }
.tape_tree div { position: relative; }
.tape_tree ins { text-decoration: none; }
.tape_tree iframe {border: 0 none; display: block; margin: 0; padding: 0; }

.tt_node {}
.tape_tree blockquote { border-left: 1px dotted #555; color: #555; font-style: oblique; margin: 0; padding: 2px 10px; margin: 5px 0; }

.itape_limit_control { margin: 20px 0; }
.itape_limit_control br { clear: both; }
.itape_limit_control span, .itape_limit_control a, .itape_limit_control a:link, .itape_limit_control a:hover, .itape_limit_control a:visited:hover, .itape_limit_control a:visited { display: block; position: relative; cursor: pointer; float: left; margin-bottom: 10px; margin-right: 15px; background-color: #bbb; padding: 5px 11px; font-size: 11px; color: white; text-decoration: none; }
.itape_limit_control span b,
.itape_limit_control a b, 
.itape_limit_control span i,
.itape_limit_control a i, 
.itape_limit_control span abbr,
.itape_limit_control a abbr,
.itape_limit_control span ins, 
.itape_limit_control a ins { display: block; position: absolute; background-color: #bbb; }

.itape_limit_control span:hover b,
.itape_limit_control .i_active b, 
.itape_limit_control span:hover i,
.itape_limit_control .i_active i, 
.itape_limit_control span:hover abbr,
.itape_limit_control .i_active abbr, 
.itape_limit_control span:hover ins, 
.itape_limit_control .i_active ins, 
.itape_limit_control a:hover b,
.itape_limit_control a.i_active b, 
.itape_limit_control a:hover i,
.itape_limit_control a.i_active i, 
.itape_limit_control a:hover abbr,
.itape_limit_control a.i_active abbr, 
.itape_limit_control a:hover ins, 
.itape_limit_control a.i_active ins { background-color: #003D5C; }

.itape_limit_control span b, .itape_limit_control a b { left: -1px; width: 1px; top: 1px; bottom: 1px; }
.itape_limit_control span i, .itape_limit_control a i { right: -1px; width: 1px; top: 1px; bottom: 1px; }
.itape_limit_control span abbr, .itape_limit_control a abbr { left: 1px; right: 1px; top: -1px; height: 1px; }
.itape_limit_control span ins, .itape_limit_control a ins { left: 1px; right: 1px; bottom: -1px; height: 1px; }

.itape_limit_control span:hover, .itape_limit_control span.i_active, .itape_limit_control a:hover, .itape_limit_control a:visited:hover, .itape_limit_control a.i_active { background-color: #003D5C; }

.itape_complaint { font-size: 11px; cursor: pointer; color: #bbb; border-bottom: 1px dotted #bbb; }
.itape_complaint:hover { border-bottom: none; color: red; }
/*
.ttn_add span { font-size: 11px; cursor: pointer; color: #bbb; border-bottom: 1px dashed #bbb; }
.ttn_add span:hover { border-bottom: none; color: #003D5C; }
*/
.tt_comment { margin-top: 25px; }
.tt_comment.sc_collapsed { margin-top: 12px; }

.ttc_header { background-color: #e4e4e4; /*font-family: Tahoma; font-size: 10px;  margin-bottom: 8px; */ padding: 0; line-height: normal; /*min-height: 32px;*/ }
.ttc_header:after{ content: ''; display: block; clear: both; }
/*
.ttc_header span { color: #bbb; margin-right: 10px; font-size: 10px; }
*/
.ttc_header .itape_author { /* color: #003D5C; */ font-weight: bold; }
.ttc_header .itape_author .user_floatlink { border-bottom: 1px dotted #003D5C; color: #003D5C; }
.ttc_header .itape_author .user_floatlink:hover { border-bottom: 1px dotted transparent !important; color: black; }


.tape_tree .ttc_header .itape_moderator, 
.tape_tree .ttc_header .itape_moderator a { color: #D92F00; }
.tape_tree .ttc_header .itape_moderator a:hover { color: black !important; }

.tape_tree .ttc_header .itape_moderator .user_floatlink { border-bottom: 1px dotted #D92F00; color: #D92F00; }
.tape_tree .ttc_header .itape_moderator .user_floatlink:hover { border-bottom: 1px dotted transparent; color: black !important; }


.itape_author  sup { color: #aaa; font-weight: normal; }

/*
.ttc_header a, 
.ttc_header a:link, 
.ttc_header .itape_like_link, 
.itape_like_link { color: #003D5C; }

.ttc_header a:hover, 
.ttc_header a:visited:hover, 
.ttc_header .itape_author a:hover, 
.ttc_header .itape_author a:visited:hover { color: black !important; }
*/
.itape_like_link, 
.itape_like_link { cursor: pointer; border-bottom: 1px dotted #003D5C; color: #003D5C; }

.itape_like_link:hover, 
.itape_like_link:hover { border: none; color: black; }

.ttc_header span a { margin: 0 !important; }
/*
ins.itape_avalink { display: inline-block; margin: 0; }
ins.itape_avalink a { margin: 0 !important; text-decoration: none; }
ins.itape_avalink abbr img { vertical-align: middle; height: 32px; }
.itape_ava_border { width: 10px; height: 32px; vertical-align: middle; }
*/

.ttc_header img.a_status { vertical-align: middle; padding-bottom: 3px; }


.ttc_header form { display: block; margin: 0; }
.ttc_header form a, .ttc_header form input { margin-right: 15px; }
.itape_anonym_ico { background-color: #d3d3d3; }

.ttc_text { clear: both; margin-top: 8px; word-wrap: break-word; }
.tt_comment .tt_node { padding-left: 30px; }
.tt_comment .tt_node .ttn_add { margin-left: -30px; margin-top: 5px; }

.tt_comment .tt_nopadding { padding-left: 0 !important; }
.tt_comment .tt_nopadding .ttn_add { margin-left: 0 !important; }

.pic_in_comment, .pic_passive { clear: both; margin: 10px 0; }
 
.pic_in_comment img { cursor: pointer; display: block; margin-top: 20px; padding: 5px; border: 1px dashed #003D5C; float: left; }
.pic_in_comment span a img { margin: 0; }

.pic_in_comment img:hover { border: 1px dashed black !important; }

.pic_in_comment a { display:block; position:relative; float:left; }
.pic_in_comment abbr { display: block; position: absolute; width: 19px; height: 19px; margin:auto; top:0; bottom:0;left:0;right:0; z-index: 5; 
	background-image: url( "images/waitbar.gif" ); background-repeat: no-repeat; background-position: center center;
}

.pic_in_comment em { display: block; position: absolute; width: 67px; height: 67px; margin:auto; top:0; bottom:0;left:0;right:0; z-index: 5; 
	background-image: url( "images/animated_gif.png" ); background-repeat: no-repeat; background-position: center center;
}

.pic_in_comment span { display: block; overflow: hidden; position: relative; width: 100%; }

.pic_in_comment ins { display: none; position: absolute; margin-left: -20px; width: 35px; height: 80px; margin-left: -30px; margin-top: 45px; }
.pic_in_comment ins a { display: block; width: 20px; height: 20px; text-decoration: none; background-color: #777; padding: 0; margin: 0;
	background-image: url( "images/target_blank.png" ); background-position: center center; background-repeat: no-repeat;
}
.pic_in_comment ins a:hover, .pic_in_comment ins a:visited:hover { background-color: #003D5C; }
.pic_in_comment ins a span { display: none; }

.ticarea_zero, .ticarea_z, .ticarea_zero span, .ticarea_z span {  }

a.tape_link { color: #777; margin-right: 20px; }
a.tape_link:hover { color: black; }

span.tape_link { color: #777; margin-right: 10px; }

a.te_allow, a.te_allow:link { color: #74c544; }
a.te_allow:hover, a.te_allow:link:hover { color: red; }

input.sc_block { color: red; }
input.sc_block:hover {	color: black; }

input.sc_allow { color: #74c544; }
input.sc_allow:hover { color: black; }
.mt_btn { padding: 0; background-color: transparent; color: white; font-size: 10px; font-family: Tahoma; border: none; cursor: pointer; text-decoration: underline; }


.sc_gray_border { border-left: 1px dotted #bbb; padding-left: 6px; }

.sc_blocked { color: #bbb; }

.sc_blocked .ttc_header { background-color: #eee; }

.sc_blocked .ttc_header .itape_author, 
.sc_blocked .ttc_header .itape_author .user_floatlink { color: #bbb; }

.sc_blocked .ttc_header .itape_author .user_floatlink { color: #bbb; border-color: #bbb; }

.sc_blocked .ttc_header .itape_avalink { opacity: 0.4; filter: alpha(opacity=40); } 



.tape_tree div.highlight_parent { left: 0; margin-left: 24px; margin-top: -16px; padding-top: 30px; position: absolute; }
.tape_tree div.highlight_parent div { background-color: #e9e9e9; position: absolute; bottom: 0; right: 0; max-width: 100px; font-size: 10px; font-family: Tahoma; padding: 7px; color: #555; line-height: 14px; cursor: pointer; }
.tape_tree div.highlight_parent ins { border-bottom: 1px dashed #003D5C; color: #003D5C; cursor: pointer; display: block; font-size: 17px; padding-bottom: 10px; position: absolute; right: 13px; text-align: center; top: -31px; width: 15px; }
.tape_tree div.highlight_parent ins:hover { color: black; border-bottom: none; }

.tape_tree div.highlight_parent abbr { position: absolute; display: block; bottom: -16px; right: 6px; width: 16px; height: 17px; 
	background-image: url( 'images/from_parent_replika.png' ); background-repeat: no-repeat;
}

.transp_11 { opacity: 0; filter: alpha(opacity=0);  }
.transp_10 { opacity: 0; filter: alpha(opacity=0);  }
.transp_9 { opacity: 0; filter: alpha(opacity=0);  }
.transp_8 { opacity: 0.1; filter: alpha(opacity=10);  }
.transp_7 { opacity: 0.2; filter: alpha(opacity=20);  }
.transp_6 { opacity: 0.3; filter: alpha(opacity=30);  }
.transp_5 { opacity: 0.4; filter: alpha(opacity=40);  }
.transp_4 { opacity: 0.5; filter: alpha(opacity=50);  }
.transp_3 { opacity: 0.6; filter: alpha(opacity=60);  }
.transp_2 { opacity: 0.7; filter: alpha(opacity=70);  }
.transp_1 { opacity: 0.8; filter: alpha(opacity=80);  }
.transp_0 { opacity: 0.9; filter: alpha(opacity=90);  }

.pc_not_active, .pc_not_active span { color: #999; }

.itape_vpanel { font-family: Georgia; font-size: 13px; }
.itape_vpanel div { float: left; padding: 5px 12px; cursor: pointer; }
.itape_vpanel div:hover { background-color: white; }
.itape_vpanel div.active { background-color: white; font-weight: bold; }
.itape_vpanel br { clear: both; }
.itape_vpanel abbr { display: block; position: relative; }
.itape_vpanel abbr img { margin-right: 5px; cursor: pointer; opacity: 0.3; filter: alpha(opacity=30); }
.itape_vpanel abbr img:hover { opacity: 1; filter: alpha(opacity=100); }
.itape_vpanel abbr strong { display: block; position: relative; font-family: Arial; padding-top: 10px; }


.itape_preview { margin-top: 3px; font-size: 13px; }
.ttn_add .ip_link { cursor: pointer; color: #003D5C; padding-bottom: 2px; text-decoration: none; border-bottom: 1px dotted #003D5C; font-size: 11px; font-weight: normal; }
.ttn_add .ip_link:hover { border-bottom: none; color: black; }
.ip_monitor { background-color: white; border: 1px dashed #ccc; margin-top: 10px; padding: 12px; }

.ttc_text img, .ip_monitor img { max-width: 100% !important; }
.ttc_fresh .ttc_text { color: #0055cc; }

.tape_tree .itape_voteblock { display: inline-block; vertical-align: bottom; }
.tape_tree .itape_votetable { /*height: 32px; */ margin-bottom: 8px; }
.tape_tree .itape_votetable td { vertical-align: middle; }
.iv_arrows { float: right; font-size: 15px; }
.iva_btn { padding-left: 0 !important; padding-right: 0 !important; }
.iva_btn ins { padding: 4px 7px !important; cursor: pointer; color: #555;  }
.iva_btn ins:hover { background-color: #ccc; color: #000; }
.iva_btn font { padding: 5px 7px 8px; color: #ccc; }

.iv_votes { padding: 0 7px; }
.iv_votes.iv_additional_ctrl { border: 1px dotted #ccc; border-radius: 20%; cursor: pointer; margin-right: 4px; padding: 1px 5px; background-color: transparent; }
.iv_votes.iv_additional_ctrl:hover { background-color: white; }
.iv_votes.iv_additional_ctrl.active { border: 1px solid #555; background-color: white; }

.iv_votes strong { color: #aaa; }
strong.ivv_minus { color: #d92f00; }
strong.ivv_plus { color: #339900; }


/* form */
.itape_50 { width: 100%; margin-left: 0; }

.itape_50 h3 { background-color: transparent !important; border: medium none !important; font-family: Arial; font-size: 17px; font-weight: bold !important; }
.itape_50 h4 { font-family: Arial; font-size: 15px; font-weight: normal; margin-top: 0; color: #555; background-color: transparent !important; border: medium none !important; margin-bottom: 10px; }
.itape_50 iframe { border: 0; margin: 0; padding: 0; display: block; }
.itape_50 iframe.itape_upload_frame { width: 300px; height: 30px; }

.it5_header { height: 43px; padding: 6px 0 0 38px; border-bottom: 2px solid black; }
.it5_header h3 { margin-top: 0; margin-left: -39px; }
.it5_header ins { display: block; position: absolute; left: 28px; bottom: -4px; width: 33px; height: 15px; }

.it5_header ins b { display: block; position: absolute; left: 0; right: 0; border-left: 3px solid black; border-right: 3px solid black; height: 1px; margin: 0 auto; background-color: #eee; }
.it5_header ins b.bordercolor { background-color: black; }
.it5_header ins b.step1 { top: 0px; width: 0; border-width: 1px; }
.it5_header ins b.step2 { top: 1px; width: 0; border-width: 2px; }
.it5_header ins b.step3 { top: 2px; width: 0; }
.it5_header ins b.step4 { top: 3px; width: 2px; }
.it5_header ins b.step5 { top: 4px; width: 4px; }
.it5_header ins b.step6 { top: 5px; width: 6px; }
.it5_header ins b.step7 { top: 6px; width: 8px; }
.it5_header ins b.step8 { top: 7px; width: 10px; }
.it5_header ins b.step9 { top: 8px; width: 12px; }
.it5_header ins b.step10 { top: 9px; width: 14px; }
.it5_header ins b.step11 { top: 10px; width: 16px; }
.it5_header ins b.step12 { top: 11px; width: 18px; }
.it5_header ins b.step13 { top: 12px; width: 20px; }

.it5_header abbr { display: block; position: absolute; top: 17px; right: 0; width: 21px; height: 21px; background-color: black; border: none; cursor: pointer; padding: 0;
	background-image: url( "images/itape_50_close_X.png" ); background-repeat: no-repeat;
}
.it5_header abbr:hover { background-color: red; }

.itb_userinfo {}
.itb_text { margin-bottom: 0; }
.it5_body { background-color: #eee; padding: 16px 20px 18px; }
.it5_body textarea { width: 98%; padding: 10px; padding: 5px; border: 1px solid #cccccc; font-size: 17px; font-family: Arial; height: 100px; overflow: hidden; }
.it5_body textarea:focus { border-color: #003D5C; }
.it5_body .itb_starttextarea textarea { height: auto; }

.itb_userinfo:after { content: ''; display: block; clear: both; }
.itb_userinfo div { float: left; margin-right:50px; margin-top: 30px; }
.itb_userinfo div:last-child { margin-right: 0; }
.itb_userinfo div input { width: 93%; padding: 5px; font-size: 17px; font-family: Arial; border: 1px solid #cccccc; }
.itb_userinfo div input:focus { border-color: #003D5C; }
.itb_userinfo div span { font-size: 17px; }


.itu_faximille { float: left; margin-right:50px; margin-top: 30px; }
.itu_faximille ins { display: block; position: absolute; width: 28px; height: 28px; margin-left: -52px; margin-top: 29px; }
.itf_avatarload { margin-top: 20px; }
.itu_faximille input { width: 164px; padding: 5px; font-size: 17px; font-family: Arial; border: 1px solid #cccccc; }
.itu_faximille input:focus { border-color: #003D5C; }
.itu_email input { width: 250px; padding: 5px; font-size: 17px; font-family: Arial; border: 1px solid #cccccc; }
.itu_email input:focus { border-color: #003D5C; }

.itu_email { float: left; margin-top: 30px; }

.it5_photo_outer { background-color: #eee; padding: 0 0 18px; }
.it_pictureload { background-color: #c6c6c6; padding: 22px 20px; }
.itp_loadbox { float: left; margin-bottom: 20px; margin-right: 50px; }
.itp_showroom { float: left; }

.its_piclist div { float: left; margin-right: 10px; margin-bottom: 30px; }
.its_piclist div ins { display: block; position: absolute; width: 21px; height: 21px; background-color: #c6c6c6; cursor: pointer;
	bottom: 15px; left: 0; right: 0; padding: 10px; margin: 0 auto; }
.its_piclist div ins:hover { background-color: white; }

.its_piclist div ins b { display: block; position: absolute; width: 21px; height: 21px; left: 0; right: 0; top: 0; bottom: 0; margin: auto; background-color: black;  background-image: url( "images/itape_50_close_X.png" ); background-repeat: no-repeat; background-position: center center; }

.its_piclist div span { display: block; height: 20px; padding-top: 15px; text-align: center; border: none; }
.its_piclist div span abbr { color: red; text-decoration: underline; cursor: pointer; }
.its_piclist div span abbr:hover { color: black; }

.it_footer { background-color: #eee; padding: 0 20px 30px; }
.tape_tree .itp_shadeup { position: absolute; top: 0; left: 0; right: 0; height: 8px; }

.tape_tree .itp_shadeup ins { display: block; position: absolute; left: 0; right: 0; height: 1px; background-color: #717171; }
.tape_tree .itp_shadeup ins.step1 { top: 0px; opacity: 0.90; filter: alpha(opacity=90); }
.tape_tree .itp_shadeup ins.step2 { top: 1px; opacity: 0.65; filter: alpha(opacity=65); }
.tape_tree .itp_shadeup ins.step3 { top: 2px; opacity: 0.45; filter: alpha(opacity=45); }
.tape_tree .itp_shadeup ins.step4 { top: 3px; opacity: 0.30; filter: alpha(opacity=30); }
.tape_tree .itp_shadeup ins.step5 { top: 4px; opacity: 0.20; filter: alpha(opacity=20); }
.tape_tree .itp_shadeup ins.step6 { top: 5px; opacity: 0.10; filter: alpha(opacity=10); }
.tape_tree .itp_shadeup ins.step7 { top: 6px; opacity: 0.05; filter: alpha(opacity=05); }

.tape_tree .itp_shadedown { position: absolute; bottom: 0; left: 0; right: 0; height: 4px; }
.tape_tree .itp_shadedown ins { display: block; position: absolute; left: 0; right: 0; height: 1px; background-color: #717171; }
.tape_tree .itp_shadedown ins.step1 { bottom: 0px; opacity: 0.40; filter: alpha(opacity=00); }
.tape_tree .itp_shadedown ins.step2 { bottom: 1px; opacity: 0.20; filter: alpha(opacity=20); }
.tape_tree .itp_shadedown ins.step3 { bottom: 2px; opacity: 0.10; filter: alpha(opacity=10); }
.tape_tree .itp_shadedown ins.step4 { bottom: 3px; opacity: 0.05; filter: alpha(opacity=05); }

.it_footer input { font-size: 21px; font-family: Arial; color: black; cursor: pointer; }
.it_footer input:hover { color: #003D5C; }

.itu_authbtn { float: left; padding: 0; }
.itu_auth .itu_faximille { margin-right: 10px !important; margin-top: 0 !important; }
.itu_auth_outlink { margin-top: 20px; font-size: 13px; }

.itu_auth_error { margin-top: 10px; font-size: 15px; font-style: oblique; color: red; }
/**/

.itape_edited { font-size: 11px; color: #bbb; font-family: Tahoma; font-style: oblique; }
.itaper_moderator_tools { margin-bottom: 6px; margin-left: -4px; text-align: right; }
/*.itape_single_tools { font-size: 10px; font-family: Tahoma; margin-top: -7px; }*/
.itape_single_tools a { margin-right: 9px; }

.itape_censored_alert { font-style: oblique; color: #777; font-size: 13px; margin-bottom: 10px; }
.itape_censored_alert span { background-color: #ddd; border-radius: 12px; display: inline-block; padding: 1px 10px; }

.itape_censored_show { border-top: 4px double #999; padding-top: 5px; color: #999; }
.tape_tree .itape_over_censore { background-color: #7e7e7e; bottom: 0; font-size: 13px; font-style: oblique; left: 0; padding: 0 5px; position: absolute; right: 0; top: 0; z-index: 10; background-image: url("/bitrix/components/realcommenter/tape.show.tree/templates/.default/images/censorium.png"); color: white; font-weight: bold; }
.tape_tree .itape_over_censore.itape_over_unlock { background-color: #709d3f; background-image: url("/bitrix/components/realcommenter/tape.show.tree/templates/.default/images/unlockus.png"); }

.tape_tree .itape_over_censore div { bottom: 0; height: 20px; left: 10px; margin: auto 0; padding-top: 0; position: absolute; right: 0; top: 0; }
.tape_tree .itape_over_frozen { position: absolute; background-color: #65BEE8; bottom: 0; left: -10px; right: 0; top: 0; z-index: 10; background-image: url("/bitrix/components/realcommenter/tape.show.tree/templates/.default/images/snowflakes.png"); }
.tape_tree .itape_over_frozen.itape_over_delete { background-image: url("/bitrix/components/realcommenter/tape.show.tree/templates/.default/images/deleticuses.png"); background-color: #d77676; }

.tape_tree .forum-quote { display: block; border-left: 1px dashed #777; color: #777; font-style: oblique; margin: 0; padding: 2px 10px; margin: 5px 0; }
.tape_tree .forum-quote tr, 
.tape_tree .forum-quote th, 
.tape_tree .forum-quote td { display: inline; }

.ttc_collapsed { font-weight: normal; /* font-size: 10px; font-family: Tahoma; margin-bottom: 14px;  */ padding: 0 0 0 10px; }
.tt_comment .ttc_collapsed, 
.tt_comment .ttc_header.ttc_collapsed {  background-color: transparent !important; }
.ttc_collapsed img.itape_avatar { height: auto; }
.ttc_collapsed img.itape_avatar.itape_anonym_ico { height: 16px; }

.ttc_collapsed .iv_votes { display: inline; float: none; position: relative;  }
.tape_tree .ttc_collapsed .itape_voteblock { display: inline-block; position: relative; top: 0; float: none; height: auto !important; }
.tape_tree .ttc_collapsed .itape_votetable { display: inline; position: relative; top: 0; }

.ttc_collapsed img.itape_ava_border { height: 16px; }
.ttc_header.ttc_collapsed { min-height: 16px; }

.itape_expand_big { margin-left: -30px; margin-top: 10px; font-style: oblique; }
/*.itape_expand_big:before { content: "\2193"; position: absolute; left: 0; }*/

.expand_wait { background-color: #BBBBBB; background-image: url("/bitrix/components/realcommenter/tape.show.tree/templates/.default/images/waitbar.gif"); background-position: center center; background-repeat: no-repeat; display: block; height: 21px; left: 0; margin-left: -31px; position: absolute; top: -2px; width: 21px; }

.itape_flyout { position: fixed; background-color: black; left: 0; right: 0; top: 0; bottom: 0; z-index: 1000; cursor: pointer;  }
.itape_flyout img { display: block; position: absolute; margin: auto auto; top: 0; right: 0; left: 0; bottom: 0; }
.itape_flyout div { position: fixed; background-color: #ccc; left: 10px; top: 10px; cursor: pointer; border-radius: 5px; padding: 7px 21px; }
.itape_flyout div:hover { background-color: #fff; }
.itape_flyout div span { font-size: 19px; }

.sending { display: block; position: relative; font-size: 11px; }
.sending:after { content: ''; display: block; clear: both; }
.sending abbr { float: left; position: relative; background-color: #ddd; border-radius: 4px; padding: 5px 10px; margin-right: 15px; }

.ulp_highlight { position: absolute !important; top: 0 !important; z-index: 500; }
.ulph_padding { position: absolute !important; bottom: 0 !important; background-color: #c3c3c3; padding: 15px; border: 2px solid white; box-shadow: 0 0 4px rgba(125, 125, 125, 0.7); width: 250px; z-index: 500; border-radius: 10px; }
.ulph_padding ins { color: #000; font-size: 13px; font-style: oblique; }
.ulph_body { margin-top: 10px; }
.ulph_body div { padding-top: 10px; margin-top: 10px; }
.ulph_body img { max-width: 100%; }
.ulph_body div:before { content: ""; display: block; position: absolute; height: 1px; left: 0; right: 0; top: 0; background-color: black; opacity: 0.2; }
.ulph_body div:first-child { border-top: 0; padding: top: 0; margin-top: 0; }
.ulph_body div:first-child:before { display: none !important; }

.ulph_body a { padding: 4px 0; }
/*
.ulph_padding:before { content: ''; display: block; position: absolute; bottom: -11px; left: 30px; width: 16px; height: 11px; background-image: url( '/bitrix/components/realcommenter/tape.show.tree/images/ulp_nose.png' ); background-repeat: no-repeat; background-position: center; }
*/

.ulp_highlight abbr { bottom: -9px; height: 11px; left: 32px; position: absolute; width: 16px; z-index: 500; }
.ulp_highlight abbr div { background-color: #c3c3c3; height: 1px; margin: 0 auto; border-left: 3px solid white; border-right: 3px solid white; }
.ulp_highlight abbr div:before { content: ""; display: block; position: absolute; width: 1px; left: -4px; top: 0; bottom: 0; background-color: black; opacity: 0.1;  }
.ulp_highlight abbr div:after { content: ""; display: block; position: absolute; width: 1px; right: -4px; top: 0; bottom: 0; background-color: black; opacity: 0.1;  }

.ulp_highlight abbr div:first-child { border-left-width: 2px; border-right-width: 2px; }

.ulp_highlight abbr div:first-child:before, 
.ulp_highlight abbr div:first-child:after { display: none }



.ulad1 { width: 12px; }
.ulad1:before, .ulad1:after { display: none !important; }

.ulad2 { width: 10px; }
.ulad2:before, .ulad2:after { display: none !important; }

.ulad3 { width: 8px; }
.ulad3:before, .ulad3:after { display: none !important; }

.ulad4 { width: 6px; }
.ulad5 { width: 4px; }
.ulad6 { width: 2px; }
.ulad7 { width: 0px; }
.ulad8 { width: 0px; border-left-width: 2px !important; border-right-width: 2px  !important; }
.ulad8:before { left: -3px !important; }
.ulad8:after { right: -3px !important; }

.ulad9 { width: 0px; border-left-width: 1px  !important; border-right-width: 1px  !important; }
.ulad9:before { left: -2px !important; }
.ulad9:after { right: -2px !important; }


.ulp_highlight abbr div.ulad10 { width: 2px !important; background-color: black !important; opacity: 0.1; border: none !important; }
.ulad10:before, .ulad10:after { display: none !important; }

.itu_authbtn { margin-top: 0 !important; }
.if_submit { margin-top: 0 !important; }
.if_submit input { width: auto !important; }

.ncli_tinter {
    background-color: white;
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0.7;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

.itape_total_negative { opacity: 0.2; filter: alpha(opacity=20);  }
.itape_total_negative:hover { opacity: 1.0; filter: alpha(opacity=100);  }

.rtc .itape_shine_scroll { border-bottom: 1px dotted #555; cursor: pointer; }
.rtc .itape_shine_scroll:hover { border-color: transparent !important; color: black !important; }


.itb_penalties {}
.itb_penalties div { display: inline-block; padding: 10px; border: 3px solid white; background-color: white; cursor: pointer; }
.itb_penalties div:hover { border: 3px solid #bbb; background-color: #bbb; }
.itb_penalties div.active { border: 3px solid red; background-color: #555; color: white; }

.ticp_submit { display: none; }
.ticp_submit textarea { border: 1px solid #CCCCCC; font-family: Arial; font-size: 17px; height: 50px; overflow: hidden; padding: 5px; width: 98%; }
.ticp_submit textarea:focus { border-color: #003D5C; }

.itape_alerts { color: red; font-weight: bold; cursor: crosshair; }
.ttc_collapsed .itape_alerts { padding: 0; }

abbr[title], acronym[title] { border-bottom: none !important; }

.itape_ban { vertical-align: middle; cursor: crosshair; color: red; }
/*.itape_ban:before { content: ''; display: inline-block;  padding: 3px; background-color: red; color: yellow; border-radius: 100%; margin-bottom: 4px; }*/

.itape_forbidden_to_comment { color: red; }
.itape_stopfilter_warning { background-color: red; color: yellow; padding: 12px; margin-top: 10px; }

.itape_votes_additional_info { clear: both; margin-top: 0; color: black; padding: 15px; background-color: rgb(221, 221, 221); border-top: 1px double rgb(153, 153, 153); box-shadow: 0px 2px 7px -6px rgba( 0, 0, 0, 0.7) inset; }

.itape_votes_additional_info p { margin-top: 3px; margin-bottom: 0; line-height: normal; }
.itape_votes_additional_info p:first-child { margin-top: 0; }

.itape_votes_additional_info font { font-style: oblique; }
.itape_votes_additional_info font img { max-width: 17px; vertical-align: baseline; }

.itape_votes_additional_info .user_floatlink { border-bottom: 1px dotted #000; }


/********************   floatlink   **********************/

.user_floatlink { cursor: pointer; margin-right: 0 !important; }
.user_floatlink:hover { border-bottom: 1px dotted transparent;  }

.itape_floatpage { background-color: #ccc; border: 5px solid rgb(255, 255, 255); border-radius: 10px; bottom: 0px; left: 0px; margin: 50px; position: fixed !important; right: 0px; top: 0px; box-shadow: 0px 0px 37px -7px black; z-index: 3000; overflow: hidden; }

.if_closeit { position: absolute; right: 0; top: 0; z-index: 10; }
.if_closeit span { display: block; position: absolute; right: 15px; top: 15px; cursor: pointer; color: #999; font-size: 60px; line-height: 26px; }
.if_closeit span:hover { color: black; }
.if_closeit span:active { color: red; }

.if_header { font-size: 48px; padding: 55px 25px 25px; }

.if_body { background-color: #eee; padding: 25px; box-shadow: 0 -2px 8px -2px rgba(0, 0, 0, 0.2); }

.ifb_title { font-size: 21px; margin-bottom: 25px; }
/*
.ifb_logic_sector { margin-top: 0; }
.ifb_logic_sector:first-of-type { margin-top: 0; }
*/
.ifbuc_list { font-size: 15px; overflow-x: hidden; overflow-y: auto; }
.ifbl_row { margin-top: 16px; }
.ifbl_row:first-of-type { margin-top: 0; }

.ifbl_row span { display: block; font-size:13px; color: #555; }

.ufb_nav { padding-bottom: 15px; margin-left: -7px; white-space: normal; word-wrap: break-word; line-height: 230%; font-size: 13px; }
.ufb_nav a { margin-right: 0; padding: 7px 10px; color: black; }
.ufb_nav b { color: #777; margin: 0 10px; }
.ufb_nav a:hover { color: #0055cc; }

.ufb_nav span { margin-right: 0; padding: 7px 10px; background-color: #aaa; color: white; }
.ufb_nav span:first-child { margin-left: 7px; }

.ifbuv_info p { margin-top: 23px !important; margin-bottom: 0 !important; margin-left: 40px !important; text-indent: -40px  !important; max-width: none; }
.ifbuv_info p:first-child { margin-top: 0 !important; }

.ifbuv_info p font { display: inline-block; font-style: oblique; margin-right: 3px; padding: 5px 8px 3px; text-indent: 0; white-space: nowrap; border-radius: 5px; }
.ifbuv_info p font.vuw { cursor: pointer; }
.ifbuv_info p font.vuw.active { background-color: #777; color: white; }
.ifbuv_info p font.vuw.active a { color: white; text-decoration: none;}

.ifbuv_info p font img { max-width: 17px; vertical-align: baseline; }

.if_back_if { background-color: #DDDDDD; color: #555555; font-size: 40px; height: 30px; line-height: 20px; padding: 0 9px; position: absolute; top: 0; z-index: 10; left: 25px; cursor: pointer; }
.if_back_if:hover { background-color: white; color: black; }
.if_back_if:active, 
.if_back_if.active { background-color: #555; color: white; }


.if_folders { padding: 0 0 0 25px; }
.if_folders:after { content: ''; display: block; clear: both; }
.if_folders span { display: block; position: relative; float: left; padding: 10px; background-color: #ddd; margin-right: 15px; cursor: pointer; border-radius: 5px 5px 0 0; }
.if_folders span:hover { background-color: #fff; }
.if_folders span.active { cursor: default; background-color: #eee; z-index:20; }

.ifbuv_info { overflow-x: auto; }

.ifb_one_wide_info { background-color: #FFFFFF; border-radius: 15px; box-shadow: 0 0 10px -6px #000000; margin: 3px 3px 25px 25px; padding-bottom: 15px; padding-left: 15px; padding-top: 15px; }
.iwi_close { left: 0; margin-left: -27px; position: absolute !important;  }
.iwi_close span { font-size: 35px; cursor: pointer; color: #999; }
.iwi_close span:hover { color: #000; }
.iwi_user { font-size: 16px; margin-bottom: 10px; }
.iwi_user span { color: #999; border-bottom: 2px dotted #999; cursor: pointer; font-weight: bold; padding-bottom: 2px; }
.iwi_user span:hover { color: #ff0000; border-bottom: 2px dotted transparent; }



.ttch_left { float: left; display: table; }
.ttch_left abbr { display: inline-block; vertical-align: bottom; padding-bottom: 4px; padding-left: 10px; position: relative; padding-top: 9px; }
.ttch_left abbr:first-of-type { padding-left: 0px; }

.ttch_left abbr.h_expand { padding-left: 20px; }
/* .ttch_left abbr.itape_comment_link { padding-left: 20px; } */
.ttch_left abbr.itape_comment_link a { padding: 4px; }

.ttch_left abbr.widepair_separator { padding-left: 5px; }
.ttch_left abbr.rtc { padding-left: 5px; }

.ttch_left abbr.tape_date { color: #aaa; padding-left: 20px; }

.ttch_left abbr.itape_avalink { padding-bottom: 0 !important; padding-top: 0 !important; }
.ttch_left abbr.itape_avalink sup { padding-left: 3px; }
.ttch_left abbr.itape_avalink.itape_ava_moderator:before { content: ''; position: absolute; bottom: 0; left: 0; right: 0; height: 1px; background-color: white; border-top: 1px solid #D92F00; border-bottom: 1px solid #D92F00; }


.ttch_right { float: right; display: table; }
.ttch_right abbr { display: inline-block; vertical-align: bottom; padding-bottom: 4px; padding-left: 10px; position: relative; padding-top: 9px; }
/*.ttch_right abbr:first-of-type { padding-left: 0px; }*/

.ttch_right abbr.itape_compliant_link { padding-right: 20px; }

.ttc_collapsed .ttch_left abbr, 
.ttc_collapsed .ttch_right abbr { padding-bottom: 0 !important; padding-top: 0 !important; }

.ttc_collapsed .ttch_right { float: left; }

.itape_user_comment {}
.itape_user_comment:before { content: '\0000a0'; }
.itape_user_comment ins { display: inline-block; padding: 4px; background-color: #aaa; border-radius: 100%; }
.itape_user_comment.active_to_edit ins { background-color: #003D5C; }
.itape_user_comment.active_to_edit .itape_like_link { border-color: #003D5C; color: #003D5C; }
.itape_user_comment.active_to_edit .itape_like_link:hover { color: #000; }

/*.itape_ava_moderator { border-top: 3px double #D92F00; }*/
.ttchr_height { min-height: 32px; padding: 0 !important; }
.ttc_collapsed abbr.ttchr_height { display: none; }

.ttch_left abbr.itape_avalink:after, 
.ttch_left:before, 
.ttch_right:before { content: ''; min-height: 32px; display: inline-block; vertical-align: bottom; }

 .ttc_collapsed .ttch_left abbr.itape_avalink:after, 
.ttc_collapsed .ttch_left:before, 
.ttc_collapsed .ttch_right:before { display: none !important; }


.ttn_general_link { font-size: 120%; }

.ttch_right abbr.itape_adm_tool { padding: 0 !important; border-left: 1px solid #ddd; vertical-align: top; }
.ttch_right abbr.itape_adm_tool ins { display: inline-block; width: 31px; height: 31px; vertical-align: bottom; background-color: #eee; cursor: pointer; background-image: url( '/bitrix/components/realcommenter/tape.show.tree/templates/.default/images/adm_tool.png' ); background-repeat: no-repeat; background-position: left top; }
.ttch_right abbr.itape_adm_tool ins:hover { background-position: left center; }
/*.ttch_right abbr.itape_adm_tool ins:active { background-color: #676767; background-position: left bottom; }*/

.ttch_right abbr.itape_adm_tool.itape_adm_tool_active ins { background-color: #bbb; background-position: right top; }
.ttch_right abbr.itape_adm_tool.itape_adm_tool_active ins:hover { background-position: right center; }
/*.ttch_right abbr.itape_adm_tool.itape_adm_tool_active ins:active { background-position: right center; }*/


.ttch_right abbr.itape_adm_tool div.adm_tool_plate { position: absolute; display: block; right: 0; white-space: nowrap; background-color: #bbb; z-index: 100; color: black; }
.ttch_right abbr.itape_adm_tool div.adm_tool_plate p { padding: 0 !important; position: relative; margin: 0 !important; }
.ttch_right abbr.itape_adm_tool div.adm_tool_plate p span { padding: 10px 15px !important; cursor: pointer; display: block; position: relative; }
.ttch_right abbr.itape_adm_tool div.adm_tool_plate p:hover { background-color: #ddd; }
.ttch_right abbr.itape_adm_tool div.adm_tool_plate p.atp_border { cursor: default; padding: 0 !important; height: 1px; }
.ttch_right abbr.itape_adm_tool div.adm_tool_plate p.atp_border:hover { background-color: transparent; }
.ttch_right abbr.itape_adm_tool div.adm_tool_plate p.atp_border:before { content: ''; position: absolute; left: 0; right: 0; height: 1px; background-color: white; }


