.realcommenter, #realcommenter, .adm-submenu-item-name-link .realcommenter, .adm-submenu-item-name-link #realcommenter { background-image: url("/bitrix/modules/alexeygfi.realcommenter/images/realcommenter.png") !important; background-position: center center !important; }
.forum_parser, #forum_parser, .adm-submenu-item-name-link .forum_parser, .adm-submenu-item-name-link #forum_parser { background-image: url("/bitrix/modules/alexeygfi.realcommenter/images/forum_parser.png") !important; background-position: center center !important; }

.realcommenter_unlist_link, #realcommenter_unlist_link, .adm-submenu-item-name-link .realcommenter_unlist_link, .adm-submenu-item-name-link #realcommenter_unlist_link { background-image: url("/bitrix/modules/alexeygfi.realcommenter/images/realcommenter_unlist.png") !important; background-position: center center !important; }