.runlist, .runlist div { position: relative; }
.runlist a { color: #2675D7; }
.runlist a:hover { color: red; }

.rei_header span { cursor: pointer; color: #0055cc; font-size: 15px; border-bottom: 1px dashed #0055cc; margin-right: 15px; }
.rei_header span:hover { color: red; border-bottom: 1px solid red; }

.rei_header ins { display: block; position: absolute; right: 10px; top: 0; text-decoration: none; font-size: 15px; }
.rei_header ins span { color: red; border-bottom: 1px dashed red; margin-right: 0; }
.rei_header ins span:hover { color: black; border-bottom: none; }
.rei_header ins a { margin-left: 10px; }

.realcommenter_unlist { padding-left: 10px; margin-bottom: 11px; }
.reaun_item { margin-bottom: 5px; padding: 10px; }
.reaun_item:hover, 
.reaun_item.selected { background-color: white; box-shadow: 0 0 11px -4px rgba(49, 55, 63, 0.5); }

.rei_header { margin-bottom: 5px; font-size: 18px; }
.rei_header span { }

.rei_description { font-size: 18px; padding-left: 0; }
.realcommenter_un_title { font-size: 250%; color: #555; margin-bottom: 40px; }
.transp_4 { opacity: 0.5; filter: alpha(opacity=50);  }
.ncli_tinter {
    background-color: white;
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0.7;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}
.ru_radio_modes { font-size: 23px; margin-bottom: 30px; }

.ru_radio_modes a, 
.ru_radio_modes span { margin-left: 15px; }

.ru_radio_modes a:first-child, 
.ru_radio_modes span:first-child { margin-left: 0; }

.rei_permissions { margin-bottom: 20px; }
.rei_permissions .reip_list { margin-top: 20px; }
.reipl_row { padding: 5px 15px; font-size: 15px; }
.reipl_row:hover { background-color: #eee; }
.reipl_row:after { content: ''; display: block; clear: both; }
.reill_left { float: left; width: 60%; margin-right: 10%; }
.reill_right { float: left; width: 30%; }
.reipl_row .reill_title { font-style: oblique; padding-bottom: 15px; border-bottom: 1px solid #777; font-size: 17px; }
.reip_btns { margin-top: 20px; padding-left: 20px; }