	div { position: relative; }
	.gray_text { color: #555; }
	.big_desc { font-size: 16px; }
	.like_switcher { margin-top: 40px; }
	.like_switcher span { cursor: pointer; color: #0055cc; border-bottom: 1px dotted #0055cc; margin-left: 20px; }
	.like_switcher span:hover { color: red; border-bottom: none; }
	.like_switcher span.selected { cursor: default !important; color: black !important; border-bottom: none; }
	.sm_row { margin-top: 15px; }
	.sm_row:first-of-type { margin-top: 0; }
	.smr_title { font-size: 17px; }
	.translator_desc { border: 1px dotted #777777; border-radius: 20px; font-size: 15px; margin-top: 40px; padding: 15px; background-color: #d8e3e6; }
	.translator_desc p:first-of-type { margin-top: 0; }
	.td_title { font-size: 17px; }
	.td_row { margin-top: 20px; }
	.td_row:after { content: ''; display: block; clear: both; }
	.tdr_info { float: left; border: 1px solid #777; padding: 7px 15px; font-size: 24px; background-color: white; border-radius: 20px; margin-top: 5px; }
	.smr_data { margin-top: 5px; }
	
	.hs_row { margin-top: 40px; }
	.hs_row_new { background-color: #FFFFFF; border: 1px solid #BBBBBB; border-radius: 20px; padding: 15px; }
	.hs_row:first-of-type { margin-top: 0; }
	.hs_row:after { content: ''; display: block; clear: both; }
	.hsr_left { float: left; margin-right: -100%; }
	.hsr_left span { display: inline-block; padding: 0 10px; font-size: 32px; color: white; background-color: black; border-radius: 30px; }
	.hsr_left span.new { color: #888; background-color: white; border: 3px solid #888; }
	
	.hsr_right { float: left; margin-left: 80px; }
	.smrd_select ins { text-decoration: none; color: red; cursor: pointer; font-size: 24px; font-weight: bold; }
	.smrd_select ins:hover { color: #0055cc; }
	
	.transp_4 { opacity: 0.5; filter: alpha(opacity=50);  }

	.slr_editline { background-color: white; padding: 15px; margin-bottom: 25px; }
	.slr_editline:hover { box-shadow: 0 0 11px -4px rgba(49, 55, 63, 0.5); }

	.ncli_tinter {
		background-color: white;
		bottom: 0;
		display: block;
		left: 0;
		opacity: 0.7;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
	}
	
.smrd_select span { font-size: 15px; font-style: oblique; margin-right: 5px; }
.smrd_select div { margin-bottom: 10px; }

.hsr_left div { margin-top: 5px; text-align: center; }
.hsr_left ins { font-size:34px; font-weight:bold;text-decoration:none; cursor: pointer; color:#999; }
.hsr_left ins:hover { color:red; }

.realcommenter_un_title { font-size: 250%; color: #555; margin-bottom: 40px; }
