.runlist, .runlist div { position: relative; }
.runlist a { color: #2675D7; }
.runlist a:hover { color: red; }

.rei_header span { font-style: oblique; }
.rei_header ins { display: block; position: absolute; right: 10px; top: 0; text-decoration: none; }
.rei_header ins a { margin-left: 10px; }
.rei_header ins a.xdelete { color: red; text-decoration: none; border-bottom: 1px dashed red; }
.rei_header ins a.xdelete:hover { color: black; border-bottom: none; }

.realcommenter_unlist { padding-left: 10px; margin-bottom: 50px; }
.reaun_item { margin-bottom: 5px; padding: 10px; }
.reaun_item:hover { background-color: white; box-shadow: 0 0 11px -4px rgba(49, 55, 63, 0.5); }

.rei_header { margin-bottom: 5px; }
.rei_header span { margin-left: 15px; }

.rei_description { font-size: 18px; padding-left: 27px; }
.reauncase1:before { content: ''; background-color: green; padding: 0 3px; margin-right: 7px; }
.reauncase2:before { content: ''; background-color: blue; padding: 0 3px; margin-right: 7px; }
.reauncase3:before { content: ''; background-color: yellow; padding: 0 3px; margin-right: 7px; }
.reauncase4:before { content: ''; background-color: red; padding: 0 3px; margin-right: 7px; }
.realcommenter_un_title { font-size: 250%; color: #555; margin-bottom: 40px; }
.transp_4 { opacity: 0.5; filter: alpha(opacity=50);  }