.itape_50 { width: 90%; margin-left: -20px; }
.itape_50 h3 { font-family: Arial; font-size: 17px; font-weight: bold; }
.itape_50 h4 { font-family: Arial; font-size: 15px; font-weight: normal; margin-top: 0; color: #555; }
.itape_50 iframe { border: 0; width: 300px; height: 30px; margin: 0; padding: 0; display: block; }

.it5_header { height: 43px; padding: 6px 0 0 38px; border-bottom: 2px solid black; }
.it5_header h3 { margin-top: 0; margin-left: -18px; }
.it5_header ins { display: block; position: absolute; left: 28px; bottom: -4px; width: 33px; height: 15px; }

.it5_header ins b { display: block; position: absolute; left: 0; right: 0; border-left: 3px solid black; border-right: 3px solid black; height: 1px; margin: 0 auto; background-color: #eee; }
.it5_header ins b.bordercolor { background-color: black; }
.it5_header ins b.step1 { top: 0px; width: 0; border-width: 1px; }
.it5_header ins b.step2 { top: 1px; width: 0; border-width: 2px; }
.it5_header ins b.step3 { top: 2px; width: 0; }
.it5_header ins b.step4 { top: 3px; width: 2px; }
.it5_header ins b.step5 { top: 4px; width: 4px; }
.it5_header ins b.step6 { top: 5px; width: 6px; }
.it5_header ins b.step7 { top: 6px; width: 8px; }
.it5_header ins b.step8 { top: 7px; width: 10px; }
.it5_header ins b.step9 { top: 8px; width: 12px; }
.it5_header ins b.step10 { top: 9px; width: 14px; }
.it5_header ins b.step11 { top: 10px; width: 16px; }
.it5_header ins b.step12 { top: 11px; width: 18px; }
.it5_header ins b.step13 { top: 12px; width: 20px; }

.it5_header abbr { display: block; position: absolute; top: 17px; right: 0; width: 21px; height: 21px; background-color: black; border: none; cursor: pointer; padding: 0;
	background-image: url( "images/itape_50_close_X.png" ); background-repeat: no-repeat;
}
.it5_header abbr:hover { background-color: red; }

.itb_userinfo {}
.itb_text { margin-bottom: 0; }
.it5_body { background-color: #eee; padding: 16px 20px 18px; }
.it5_body textarea { width: 98%; padding: 10px; padding: 5px; border: 1px solid #cccccc; font-size: 17px; font-family: Arial; height: 100px; overflow: hidden; }
.it5_body textarea:focus { border-color: #003D5C; }

.itu_faximille { float: left; margin-right:50px; margin-top: 30px; }
.itu_faximille ins { display: block; position: absolute; width: 28px; height: 28px; margin-left: -52px; margin-top: 29px; }
.itf_avatarload { margin-top: 20px; }
.itu_faximille input { width: 164px; padding: 5px; font-size: 17px; font-family: Arial; border: 1px solid #cccccc; }
.itu_faximille input:focus { border-color: #003D5C; }
.itu_email input { width: 250px; padding: 5px; font-size: 17px; font-family: Arial; border: 1px solid #cccccc; }
.itu_email input:focus { border-color: #003D5C; }

.itu_email { float: left; margin-top: 30px; }

.it5_photo_outer { background-color: #eee; padding: 0 0 18px; }
.it_pictureload { background-color: #c6c6c6; padding: 22px 20px; }
.itp_loadbox { float: left; margin-bottom: 20px; margin-right: 50px; }
.itp_showroom { float: left; }

.its_piclist div { float: left; margin-right: 10px; margin-bottom: 30px; }
.its_piclist div ins { display: block; position: absolute; width: 21px; height: 21px; background-color: #c6c6c6; cursor: pointer;
	bottom: 15px; left: 0; right: 0; padding: 10px; margin: 0 auto; }
.its_piclist div ins:hover { background-color: white; }

.its_piclist div ins b { display: block; position: absolute; width: 21px; height: 21px; left: 0; right: 0; top: 0; bottom: 0; margin: auto; background-color: black;  background-image: url( "images/itape_50_close_X.png" ); background-repeat: no-repeat; background-position: center center; }

.its_piclist div span { display: block; height: 20px; padding-top: 15px; text-align: center; border: none; }
.its_piclist div span abbr { color: red; text-decoration: underline; cursor: pointer; }
.its_piclist div span abbr:hover { color: black; }

.it_footer { background-color: #eee; padding: 0 20px 30px; }
.tape_tree .itp_shadeup { position: absolute; top: 0; left: 0; right: 0; height: 8px; }

.tape_tree .itp_shadeup ins { display: block; position: absolute; left: 0; right: 0; height: 1px; background-color: #717171; }
.tape_tree .itp_shadeup ins.step1 { top: 0px; opacity: 0.90; filter: alpha(opacity=90); }
.tape_tree .itp_shadeup ins.step2 { top: 1px; opacity: 0.65; filter: alpha(opacity=65); }
.tape_tree .itp_shadeup ins.step3 { top: 2px; opacity: 0.45; filter: alpha(opacity=45); }
.tape_tree .itp_shadeup ins.step4 { top: 3px; opacity: 0.30; filter: alpha(opacity=30); }
.tape_tree .itp_shadeup ins.step5 { top: 4px; opacity: 0.20; filter: alpha(opacity=20); }
.tape_tree .itp_shadeup ins.step6 { top: 5px; opacity: 0.10; filter: alpha(opacity=10); }
.tape_tree .itp_shadeup ins.step7 { top: 6px; opacity: 0.05; filter: alpha(opacity=05); }

.tape_tree .itp_shadedown { position: absolute; bottom: 0; left: 0; right: 0; height: 4px; }
.tape_tree .itp_shadedown ins { display: block; position: absolute; left: 0; right: 0; height: 1px; background-color: #717171; }
.tape_tree .itp_shadedown ins.step1 { bottom: 0px; opacity: 0.40; filter: alpha(opacity=00); }
.tape_tree .itp_shadedown ins.step2 { bottom: 1px; opacity: 0.20; filter: alpha(opacity=20); }
.tape_tree .itp_shadedown ins.step3 { bottom: 2px; opacity: 0.10; filter: alpha(opacity=10); }
.tape_tree .itp_shadedown ins.step4 { bottom: 3px; opacity: 0.05; filter: alpha(opacity=05); }

.it_footer input { font-size: 21px; font-family: Arial; color: black; cursor: pointer; }
.it_footer input:hover { color: #003D5C; }