.lst_comments{
	margin:0;
	padding:0;
}
.lst_comments li{
	display:block;
	list-style:none;
	padding:3px 6px 3px 6px;
	position:relative;
}
.chetnyashka{
	background-color:#f3f3f3;
}
.nechetnyashka{
	background-color:#FFFFFF;
}
