/*.defa__smp__iblock_element_edit {*/
    /*width: 100%;*/
/*}*/

.defa__smp__iblock_element_edit td {
    padding: 5px;
}

.defa__smp__iblock_element_edit td.defa-status-info .defa-waiting {
    color: orange;
}

.defa__smp__iblock_element_edit td.defa-error a{
    color: red;
}

.defa__smp__iblock_element_edit td.defa-success{
    color: green;
}


.nobr  { white-space:nowrap; }
