.tape_tree { margin-right:20px; position: relative; margin-bottom: 20px; }
.tape_tree div { position: relative; }
.tape_tree ins { text-decoration: none; }
.tape_tree iframe {border: 0 none; display: block; margin: 0; padding: 0; }

.tt_node {}
.tape_tree blockquote { border-left: 1px dashed #777; color: #777; font-style: oblique; margin: 0; padding: 2px 10px; margin: 5px 0; }

.itape_limit_control { margin: 20px 0; }
.itape_limit_control br { clear: both; }
.itape_limit_control span { display: block; position: relative; cursor: pointer; float: left; margin-right: 15px; background-color: #bbb; padding: 5px 11px; font-size: 11px; color: white; }
.itape_limit_control span b,
.itape_limit_control span i,
.itape_limit_control span abbr,
.itape_limit_control span ins { display: block; position: absolute; background-color: #bbb; }

.itape_limit_control span:hover b,
.itape_limit_control span:hover i,
.itape_limit_control span:hover abbr,
.itape_limit_control span:hover ins { background-color: #003D5C; }

.itape_limit_control span b { left: -1px; width: 1px; top: 1px; bottom: 1px; }
.itape_limit_control span i { right: -1px; width: 1px; top: 1px; bottom: 1px; }
.itape_limit_control span abbr { left: 1px; right: 1px; top: -1px; height: 1px; }
.itape_limit_control span ins { left: 1px; right: 1px; bottom: -1px; height: 1px; }

.itape_limit_control span:hover { background-color: #003D5C; }

.itape_complaint { font-size: 11px; cursor: pointer; color: #bbb; border-bottom: 1px dashed #bbb; }
.itape_complaint:hover { border-bottom: none; color: red; }

.ttn_add span { font-size: 11px; cursor: pointer; color: #bbb; border-bottom: 1px dashed #bbb; }
.ttn_add span:hover { border-bottom: none; color: #003D5C; }

.tt_comment { margin-top: 25px; }

.ttc_header { background-color: #EEEEEE; color: #BBBBBB; font-family: Tahoma; font-size: 10px; margin-bottom: 8px; margin-left: 33px; padding: 7px 7px 7px 10px; }
.ttc_header span { color: #bbb; margin-right: 10px; }
.ttc_header span.itape_author { color: #003D5C; font-weight: bold; }
.tape_tree .ttc_header span.itape_moderator, .tape_tree .ttc_header span.itape_moderator a { color: #D92F00 !important; }

.ttc_header { font-size: 10px; color: #bbb; font-family: Tahoma; }
.ttc_header a, .ttc_header a:link, .ttc_header .itape_like_link, .itape_like_link { font-size: 10px; color: #003D5C; font-family: Tahoma; margin-right: 10px; }
.ttc_header a:hover, .ttc_header span.itape_author a:hover { color: black !important; }
.ttc_header .itape_like_link, .itape_like_link { cursor: pointer; border-bottom: 1px dashed #003D5C; }
.ttc_header .itape_like_link:hover, .itape_like_link:hover { border: none; color: black !important; }
.ttc_header span a { margin: 0 !important; }

.ttc_header img.itape_avatar { bottom: 0; display: block; margin: auto 0 auto -42px; position: absolute; right: auto; top: 0; }
.ttc_header img.a_status { vertical-align: middle; padding-bottom: 3px; }


.ttc_header form { display: block; margin: 0; }
.ttc_header form a, .ttc_header form input { margin-right: 15px; }
.itape_anonym_ico { background-color: #d3d3d3; }

.ttc_text { clear: both; font-size: 15px; margin-top: 9px; line-height: 22px; word-wrap: break-word; }
.tt_comment .tt_node { padding-left: 30px; }
.tt_comment .tt_node .ttn_add { margin-left: -30px; }

.tt_comment .tt_nopadding { padding-left: 0 !important; }
.tt_comment .tt_nopadding .ttn_add { margin-left: 0 !important; }

.pic_in_comment, .pic_passive { clear: both; margin: 10px 0; }
 
.pic_in_comment img { cursor: pointer; display: block; margin-top: 20px; padding: 5px; border: 1px dashed #003D5C; float: left; }
.pic_in_comment span a img { margin: 0; }

.pic_in_comment img:hover { border: 1px dashed black; }

.pic_in_comment a { display:block; position:relative; float:left; }
.pic_in_comment abbr { display: block; position: absolute; width: 19px; height: 19px; margin:auto; top:0; bottom:0;left:0;right:0; z-index: 5; 
	background-image: url( "images/waitbar.gif" ); background-repeat: no-repeat; background-position: center center;
}

.pic_in_comment em { display: block; position: absolute; width: 67px; height: 67px; margin:auto; top:0; bottom:0;left:0;right:0; z-index: 5; 
	background-image: url( "images/animated_gif.png" ); background-repeat: no-repeat; background-position: center center;
}

.pic_in_comment span { display: block; overflow: hidden; position: relative; width: 100%; }

.pic_in_comment ins { display: none; position: absolute; margin-left: -20px; width: 35px; height: 80px; margin-left: -30px; margin-top: 45px; }
.pic_in_comment ins a { display: block; width: 20px; height: 20px; text-decoration: none; background-color: #777; padding: 0; margin: 0;
	background-image: url( "images/target_blank.png" ); background-position: center center; background-repeat: no-repeat;
}
.pic_in_comment ins a:hover { background-color: #003D5C; }
.pic_in_comment ins a span { display: none; }

#ticarea_zero, #ticarea_z, #ticarea_zero span, #ticarea_z span { font-size: 19px; }

a.tape_link { color: #777; margin-right: 20px; }
a.tape_link:hover { color: black; }

span.tape_link { color: #777; margin-right: 10px; }

a.te_allow, a.te_allow:link { color: #74c544; }
a.te_allow:hover, a.te_allow:link:hover { color: red; }

input.sc_block { color: red; }
input.sc_block:hover {	color: black; }

input.sc_allow { color: #74c544; }
input.sc_allow:hover { color: black; }
.mt_btn { padding: 0; background-color: transparent; color: white; font-size: 10px; font-family: Tahoma; border: none; cursor: pointer; text-decoration: underline; }

.sc_gray_border { border-left: 3px solid #AAAAAA; margin-left: -11px; padding-left: 11px; }

.sc_blocked { color: #aaaaaa; }

.tape_tree div.highlight_parent { left: 0; margin-left: 24px; margin-top: -16px; padding-top: 30px; position: absolute; }
.tape_tree div.highlight_parent div { background-color: #e9e9e9; position: absolute; bottom: 0; right: 0; max-width: 100px; font-size: 10px; font-family: Tahoma; padding: 7px; color: #555; line-height: 14px; cursor: pointer; }
.tape_tree div.highlight_parent ins { border-bottom: 1px dashed #003D5C; color: #003D5C; cursor: pointer; display: block; font-size: 17px; padding-bottom: 10px; position: absolute; right: 13px; text-align: center; top: -31px; width: 15px; }
.tape_tree div.highlight_parent ins:hover { color: black; border-bottom: none; }

.tape_tree div.highlight_parent abbr { position: absolute; display: block; bottom: -16px; right: 6px; width: 16px; height: 17px; 
	background-image: url( 'images/from_parent_replika.png' ); background-repeat: no-repeat;
}

.transp_11 { opacity: 0; filter: alpha(opacity=0);  }
.transp_10 { opacity: 0; filter: alpha(opacity=0);  }
.transp_9 { opacity: 0; filter: alpha(opacity=0);  }
.transp_8 { opacity: 0.1; filter: alpha(opacity=10);  }
.transp_7 { opacity: 0.2; filter: alpha(opacity=20);  }
.transp_6 { opacity: 0.3; filter: alpha(opacity=30);  }
.transp_5 { opacity: 0.4; filter: alpha(opacity=40);  }
.transp_4 { opacity: 0.5; filter: alpha(opacity=50);  }
.transp_3 { opacity: 0.6; filter: alpha(opacity=60);  }
.transp_2 { opacity: 0.7; filter: alpha(opacity=70);  }
.transp_1 { opacity: 0.8; filter: alpha(opacity=80);  }
.transp_0 { opacity: 0.9; filter: alpha(opacity=90);  }

.pc_not_active, .pc_not_active span { color: #999; }

.itape_vpanel { font-family: Georgia; font-size: 13px; }
.itape_vpanel div { float: left; padding: 5px 12px; cursor: pointer; }
.itape_vpanel div:hover { background-color: white; }
.itape_vpanel br { clear: both; }


.itape_preview { margin-top: 3px; font-size: 13px; }
.ttn_add .ip_link { cursor: pointer; color: #003D5C; padding-bottom: 2px; text-decoration: none; border-bottom: 1px dashed #003D5C; font-size: 11px; font-weight: normal; }
.ttn_add .ip_link:hover { border-bottom: none; color: black; }
.ip_monitor { background-color: white; border: 1px dashed #ccc; margin-top: 10px; padding: 12px; }

.ttc_text img, .ip_monitor img { max-width: 100% !important; }
.ttc_fresh .ttc_text { color: #0055cc; }

.tape_tree .itape_voteblock { position: absolute; right: 0px; top: 9px; }
.iv_arrows { float: right; margin-top: -3px; font-size: 15px; }
.iv_arrows div { float: left; font-size: 15px; }
.iv_arrows div abbr { padding: 5px 7px 8px; cursor: pointer; color: #777; font-family: sans-serif; }
.iv_arrows div abbr:hover { background-color: #ddd; color: #000; }
.iv_arrows div font { padding: 5px 7px 8px; color: #ddd; font-family: sans-serif; }

.iv_votes { float: right; font-size: 13px; padding: 0 10px; font-family: Arial; }
.iv_votes strong { color: #ccc; }
.iv_votes strong.ivv_minus { color: #d92f00; }
.iv_votes strong.ivv_plus { color: #339900; }

/* form */
.itape_50 { width: 100%; margin-left: 0; }

.itape_50 h3 { font-family: Arial; font-size: 17px; font-weight: bold; }
.itape_50 h4 { font-family: Arial; font-size: 15px; font-weight: normal; margin-top: 0; color: #555; }
.itape_50 iframe { border: 0; margin: 0; padding: 0; display: block; }
.itape_50 iframe.itape_upload_frame { width: 300px; height: 30px; }

.it5_header { height: 43px; padding: 6px 0 0 38px; border-bottom: 2px solid black; }
.it5_header h3 { margin-top: 0; margin-left: -39px; }
.it5_header ins { display: block; position: absolute; left: 28px; bottom: -4px; width: 33px; height: 15px; }

.it5_header ins b { display: block; position: absolute; left: 0; right: 0; border-left: 3px solid black; border-right: 3px solid black; height: 1px; margin: 0 auto; background-color: #eee; }
.it5_header ins b.bordercolor { background-color: black; }
.it5_header ins b.step1 { top: 0px; width: 0; border-width: 1px; }
.it5_header ins b.step2 { top: 1px; width: 0; border-width: 2px; }
.it5_header ins b.step3 { top: 2px; width: 0; }
.it5_header ins b.step4 { top: 3px; width: 2px; }
.it5_header ins b.step5 { top: 4px; width: 4px; }
.it5_header ins b.step6 { top: 5px; width: 6px; }
.it5_header ins b.step7 { top: 6px; width: 8px; }
.it5_header ins b.step8 { top: 7px; width: 10px; }
.it5_header ins b.step9 { top: 8px; width: 12px; }
.it5_header ins b.step10 { top: 9px; width: 14px; }
.it5_header ins b.step11 { top: 10px; width: 16px; }
.it5_header ins b.step12 { top: 11px; width: 18px; }
.it5_header ins b.step13 { top: 12px; width: 20px; }

.it5_header abbr { display: block; position: absolute; top: 17px; right: 0; width: 21px; height: 21px; background-color: black; border: none; cursor: pointer; padding: 0;
	background-image: url( "images/itape_50_close_X.png" ); background-repeat: no-repeat;
}
.it5_header abbr:hover { background-color: red; }

.itb_userinfo {}
.itb_text { margin-bottom: 0; }
.it5_body { background-color: #eee; padding: 16px 20px 18px; }
.it5_body textarea { width: 98%; padding: 10px; padding: 5px; border: 1px solid #cccccc; font-size: 17px; font-family: Arial; height: 100px; overflow: hidden; }
.it5_body textarea:focus { border-color: #003D5C; }

.itu_faximille { float: left; margin-right:50px; margin-top: 30px; }
.itu_faximille ins { display: block; position: absolute; width: 28px; height: 28px; margin-left: -52px; margin-top: 29px; }
.itf_avatarload { margin-top: 20px; }
.itu_faximille input { width: 164px; padding: 5px; font-size: 17px; font-family: Arial; border: 1px solid #cccccc; }
.itu_faximille input:focus { border-color: #003D5C; }
.itu_email input { width: 250px; padding: 5px; font-size: 17px; font-family: Arial; border: 1px solid #cccccc; }
.itu_email input:focus { border-color: #003D5C; }

.itu_email { float: left; margin-top: 30px; }

.it5_photo_outer { background-color: #eee; padding: 0 0 18px; }
.it_pictureload { background-color: #c6c6c6; padding: 22px 20px; }
.itp_loadbox { float: left; margin-bottom: 20px; margin-right: 50px; }
.itp_showroom { float: left; }

.its_piclist div { float: left; margin-right: 10px; margin-bottom: 30px; }
.its_piclist div ins { display: block; position: absolute; width: 21px; height: 21px; background-color: #c6c6c6; cursor: pointer;
	bottom: 15px; left: 0; right: 0; padding: 10px; margin: 0 auto; }
.its_piclist div ins:hover { background-color: white; }

.its_piclist div ins b { display: block; position: absolute; width: 21px; height: 21px; left: 0; right: 0; top: 0; bottom: 0; margin: auto; background-color: black;  background-image: url( "images/itape_50_close_X.png" ); background-repeat: no-repeat; background-position: center center; }

.its_piclist div span { display: block; height: 20px; padding-top: 15px; text-align: center; border: none; }
.its_piclist div span abbr { color: red; text-decoration: underline; cursor: pointer; }
.its_piclist div span abbr:hover { color: black; }

.it_footer { background-color: #eee; padding: 0 20px 30px; }
.tape_tree .itp_shadeup { position: absolute; top: 0; left: 0; right: 0; height: 8px; }

.tape_tree .itp_shadeup ins { display: block; position: absolute; left: 0; right: 0; height: 1px; background-color: #717171; }
.tape_tree .itp_shadeup ins.step1 { top: 0px; opacity: 0.90; filter: alpha(opacity=90); }
.tape_tree .itp_shadeup ins.step2 { top: 1px; opacity: 0.65; filter: alpha(opacity=65); }
.tape_tree .itp_shadeup ins.step3 { top: 2px; opacity: 0.45; filter: alpha(opacity=45); }
.tape_tree .itp_shadeup ins.step4 { top: 3px; opacity: 0.30; filter: alpha(opacity=30); }
.tape_tree .itp_shadeup ins.step5 { top: 4px; opacity: 0.20; filter: alpha(opacity=20); }
.tape_tree .itp_shadeup ins.step6 { top: 5px; opacity: 0.10; filter: alpha(opacity=10); }
.tape_tree .itp_shadeup ins.step7 { top: 6px; opacity: 0.05; filter: alpha(opacity=05); }

.tape_tree .itp_shadedown { position: absolute; bottom: 0; left: 0; right: 0; height: 4px; }
.tape_tree .itp_shadedown ins { display: block; position: absolute; left: 0; right: 0; height: 1px; background-color: #717171; }
.tape_tree .itp_shadedown ins.step1 { bottom: 0px; opacity: 0.40; filter: alpha(opacity=00); }
.tape_tree .itp_shadedown ins.step2 { bottom: 1px; opacity: 0.20; filter: alpha(opacity=20); }
.tape_tree .itp_shadedown ins.step3 { bottom: 2px; opacity: 0.10; filter: alpha(opacity=10); }
.tape_tree .itp_shadedown ins.step4 { bottom: 3px; opacity: 0.05; filter: alpha(opacity=05); }

.it_footer input { font-size: 21px; font-family: Arial; color: black; cursor: pointer; }
.it_footer input:hover { color: #003D5C; }

.itu_authbtn { float: left; padding: 0; }
.itu_auth .itu_faximille { margin-right: 10px !important; margin-top: 0 !important; }
.itu_auth_outlink { margin-top: 20px; font-size: 13px; }

.itu_auth_error { margin-top: 10px; font-size: 15px; font-style: oblique; color: red; }
/**/

.itape_edited { font-size: 11px; color: #bbb; font-family: Tahoma; font-style: oblique; }
.itaper_moderator_tools { margin-bottom: 6px; margin-left: -4px; text-align: right; }
.itape_single_tools { font-size: 10px; font-family: Tahoma; margin-bottom: -7px; margin-top: -7px; }
.itape_single_tools a { margin-right: 9px; }

.itape_censored_alert { font-size: 15px; font-style: oblique; color: #777; }
.itape_censored_show { font-size: 11px; font-family: Tahoma; border: 4px double #999; padding: 5px; color: #999; }
.tape_tree .itape_over_censore { background-color: #CCCCCC; bottom: 0; font-size: 13px; font-style: oblique; left: 0; padding: 0 5px; position: absolute; right: 0; top: 0; z-index: 10; }
.tape_tree .itape_over_censore div { bottom: 0; height: 20px; left: 10px; margin: auto 0; padding-top: 0; position: absolute; right: 0; top: 0; }
.tape_tree .itape_over_frozen { position: absolute; background-color: #CCCCCC; bottom: 0; left: -10px; right: 0; top: 23px; z-index: 10; opacity: 0.45; filter: alpha(opacity=45); }

.tape_tree .forum-quote { display: block; border-left: 1px dashed #777; color: #777; font-style: oblique; margin: 0; padding: 2px 10px; margin: 5px 0; }
.tape_tree .forum-quote tr, 
.tape_tree .forum-quote th, 
.tape_tree .forum-quote td { display: inline; }

.ttc_collapsed { font-weight: normal; font-size: 10px; font-family: Tahoma; color: #bbb; padding: 0 0 0 22px; margin-bottom: 14px; }
.tt_comment .ttc_collapsed {  background-color: transparent !important; }
.ttc_collapsed img.itape_avatar { margin-left: -22px !important; margin-top: 1px !important; }
.ttc_collapsed .iv_votes { display: inline; float: none; position: relative;  }
.tape_tree .ttc_collapsed .itape_voteblock { display: inline; position: relative; top: 0; }

.itape_expand_big { margin-left: -30px; margin-top: 2px; }

.expand_wait { background-color: #BBBBBB; background-image: url("/bitrix/components/realcommenter/tape.show.tree/templates/.default/images/waitbar.gif"); background-position: center center; background-repeat: no-repeat; display: block; height: 21px; left: 0; margin-left: -31px; position: absolute; top: -2px; width: 21px; }

.itape_flyout { position: fixed; background-color: black; left: 0; right: 0; top: 0; bottom: 0; z-index: 100; cursor: pointer;  }
.itape_flyout img { display: block; position: absolute; margin: auto auto; top: 0; right: 0; left: 0; bottom: 0; }