.last_comments { margin-bottom: 40px; width:233px; }
.lc_item { margin-bottom: 20px; }
.lc_item a img { max-width: 100%; }
.lc_head { font-family: Tahoma; font-size: 10px; font-weight: normal; color: #777; margin-bottom: 4px; }
.lc_head span { margin-right: 20px; }
.lc_head span.lc_signature { color: black; }
.lc_head a, .lc_head a:link { font-size: 10px; }
.lc_head img { background-color: #ccc; }