.last_comments { margin-bottom: 40px; }
.lc_item { margin-bottom: 20px; }
.lc_head { font-family: Tahoma; font-size: 10px; font-weight: bold; color: #777; }
.lc_head span { margin-right: 20px; }
.lc_head span.lc_signature { color: black; }